<div class="buttons-area" fxlayout="column" fxlayout.sm="row">
    <p>By creating an account, you confirm that you accept the
        <a href="https://www.currentmoviereleases.com/terms" target="_blank">Terms and Conditions</a> and are at least 13 years old.</p>
    <button mat-raised-button color="accent" (click)="this.as.facebookLogin()" aria-label="Login with Facebook">Login with Facebook</button>
    <button mat-raised-button color="accent" (click)="this.as.googleLogin()" aria-label="Login with Google">Login with Google</button>
</div>
<h3>Before you Sign Up or Login!</h3>
<p>You are welcome to login using your preffered social network as a user provider. All your user data will be provided by Facebook
    or Google Plus.</p>
<h3>Privacy and Application settings</h3>
<p>Please carefully review your Facebook
    <a href="https://www.facebook.com/settings?tab=privacy" target="_blank" rel="noopener">privacy settings</a> and Facebook
    <a href="https://www.facebook.com/settings?tab=applications" target="_blank" rel="noopener">application seetings</a> or your Google Plus account
    <a href="https://plus.google.com/settings/" target="_blank" rel="noopener">settings</a> to avoid misunderstandings.</p>
<p>We do not store user information! Your user information is stored by your provider and we are getting your
    <u>User Name</u> and
    <u>email address from them.</u> This information is connected with your CMR prefferences (User Movie Rating, User Favorite
    Movies).
</p>
<h3>Cookies:</h3>
<p>We do use your browser cookies! This is needed to enhance your browsing experience, to deliver you more relevant content
    and server you more relevant ads trough Google Adsense. </p>
<h3>Why am I seeing these ads?</h3>
<p>We use Google Adsense as our Advertising Provider. Find out more about
    <u>why and how</u> you are seeing these ads here:
    <a href="https://support.google.com/ads/answer/2662856?hl=en" target="_blank" rel="noopener">About Ads Settings</a>
</p>
<h3>Opt-Out</h3>
<p>Disconnect your social account and your CMR data will be deleted. Disable the CMR app in your
    <a href="https://www.facebook.com/settings?tab=applications"
        target="_blank" rel="noopener">application seetings (on Facebook)</a> and your account will no longer be available for the CMR application.
    <br>Your CMR User, your Movie Ratings and CMR Favorite Movies will no longer be available.</p>
<h3>Terms and Conditions of usage</h3>
<p>Please read our full terms and conditions of usage on the
    <a href="https://www.currentmoviereleases.com/terms" target="_blank">Terms and Conditions</a> page and read more about your privacy on the
    <a href="https://www.currentmoviereleases.com/privacy" target="_blank">Privacy</a> page</p>
    <hr>