<button mat-raised-button color="accent" (click)="this.as.facebookLogin()">Login with Facebook</button>
<button mat-raised-button color="accent" (click)="this.as.googleLogin()">Login with Google</button>

<p>By creating an account, you confirm that you accept the <a href="https://www.currentmoviereleases.com/terms">Terms and Conditions</a> and are at least 13 years old.</p>

<h3>Before you Sign Up or Log in!</h3>
<p>You are welcome to login using your preffered social network as a user provider. All your data is provided by Facebook or Google Plus.</p>
<h3>Privacy and Application settings</h3>
<p>Please <u>carefully review</u> your Facebook <a href="https://www.facebook.com/settings?tab=applications" target="_blank">privacy settings</a> and Facebook <a href="https://www.facebook.com/settings?tab=applications" target="_blank">application seetings</a> or your Google Plus account <a href="https://plus.google.com/settings/" target="_blank">settings</a> to avoid misunderstandings.</p>
<p>We do not store user information! Your user information is stored by your provider and we are getting your <u>User Name</u> and <u>email address from them.</u> This information is connected with your CMR prefferences (User Movie Rating, User Favorite Movies).</p>
<h3>Cookies:</h3>
<p>We do use your browser cookies! This is needed to enhance your browsing experience, to deliver you more relevant content and server you more relevant ads trough Google Adsense. </p>
<h3>Why am I seeitng these ads?</h3>
<p>Fint out more about <u>why and how</u> you are seeing these ads here: <a href="https://support.google.com/ads/answer/2662856?hl=en" target="_blank">About Ads Settings</a></p>
<h3>Opt-Out / Delete Account</h3>
<p>If you delete your CMR account, disconnect the CMR app from your application settings (on Facebook), your CMR data will be deleted and it is not possible to recover it! <br>Your CMR User and with it your Movie Ratings, CMR Favorite Movies will be lost!</p>
<h3>Terms and Conditions of usage</h3>
<p>Please read our full terms and conditions of usage on the <a href="https://www.currentmoviereleases.com/terms">Terms and Conditions</a> page</p>
<p>Read more on the <a href="https://www.currentmoviereleases.com/privacy" target="_blank">Privacy</a> page</p>