:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: block;
}
a{
  color: #333;
}
a:hover{
  color: #F00;
}
.cdk-overlay-backdrop mat-dialog-container.mat-dialog-container {
  background: #ffffff !important;
  color: black !important;
  height: auto !important;
}
mat-form-field,
button {
  width: 100%;
  margin-bottom: 0.5rem;
}
h3{
  font-size: 100%;
}
p{
  font-size: 12px;
}