<mat-tab-group>
  <!-- Movie Categories -->
  <mat-tab label="Movie Categories">
    <form [formGroup]="categoryDescriptionForm" fxLayout="column">
      <mat-card formArrayName="moviesCats" *ngFor="let item of categoryDescriptionForm.get('moviesCats').controls; let i = index;">
        <div *ngFor="let cat of seoSettingsMovies | slice:i:i+1;">
          <h2>{{ cat.card_title }}</h2>
          <div [formGroupName]="i" fxLayout="column">
            <mat-form-field>
              <input matInput type="text" name="title" formControlName="title" placeholder="Category Title" #title>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="10" name="description" formControlName="description"
                placeholder="Category Description" #description></textarea>
              <small class="form-text text-muted" [ngClass]="{'red': description.value.length > 329, 'orange': description.value.length > 300 && description.value.length < 329, 'green': description.value.length < 300}">
                <code>{{description.value.length}}</code> of
                <code>330</code> characters
              </small>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" name="bg" formControlName="bg" placeholder="Background Image Path" #bg>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" (click)="saveCategoryDetails(title.value, description.value, bg.value, cat.card_title)">Save</button>
          </div>
        </div>
      </mat-card>
    </form>
  </mat-tab>

  <!-- Movie Genres -->
  <mat-tab label="Movie Genres">
    <form [formGroup]="categoryDescriptionForm" fxLayout="column">
      <mat-card formArrayName="movieGenresCats" *ngFor="let item of categoryDescriptionForm.get('movieGenresCats').controls; let i = index;">
        <div *ngFor="let cat of seoSettingsMovieGenres | slice:i:i+1;">
          <h2>{{ cat.card_title }}</h2>
          <div [formGroupName]="i" fxLayout="column">
            <mat-form-field>
              <input matInput type="text" name="title" formControlName="title" placeholder="Category Title" #title>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="10" name="description" formControlName="description"
                placeholder="Category Description" #description></textarea>
              <small class="form-text text-muted" [ngClass]="{'red': description.value.length > 329, 'orange': description.value.length > 300 && description.value.length < 329, 'green': description.value.length < 300}">
                <code>{{description.value.length}}</code> of
                <code>330</code> characters
              </small>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" name="bg" formControlName="bg" placeholder="Background Image Path" #bg>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" (click)="saveCategoryDetails(title.value, description.value, bg.value, cat.card_title)">Save</button>
          </div>
        </div>
      </mat-card>
    </form>
  </mat-tab>

  <!-- Celeb Categories -->
  <mat-tab label="Celebrity Categories">
    <form [formGroup]="categoryDescriptionForm" fxLayout="column">
      <mat-card formArrayName="celebsCats" *ngFor="let item of categoryDescriptionForm.get('celebsCats').controls; let i = index;">
        <div *ngFor="let cat of seoSettingsCelebs | slice:i:i+1;">
          <h2>{{ cat.card_title }}</h2>
          <div [formGroupName]="i" fxLayout="column">
            <mat-form-field>
              <input matInput type="text" name="title" formControlName="title" placeholder="Category Title" #title>
            </mat-form-field>
            <mat-form-field>
              <textarea matInput matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="10" name="description" formControlName="description"
                placeholder="Category Description" #description></textarea>
              <small class="form-text text-muted" [ngClass]="{'red': description.value.length > 329, 'orange': description.value.length > 300 && description.value.length < 329, 'green': description.value.length < 300}">
                <code>{{description.value.length}}</code> of
                <code>330</code> characters
              </small>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" name="bg" formControlName="bg" placeholder="Background Image Path" #bg>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" (click)="saveCategoryDetails(title.value, description.value, bg.value, cat.card_title)">Save</button>
          </div>
        </div>
      </mat-card>
    </form>
  </mat-tab>
</mat-tab-group>