:host {
    display: block !important;
}

.page-header {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.mat-column-date,
.mat-column-status {
    max-width: 90px;
}

.mat-column-article-owner {
    max-width: 200px;
}

.mat-column-user-actions {
    max-width: 40px;
}

.more {
    cursor: pointer;
}

.page-content {
    margin-bottom: 2rem;
}

.no-results {
    padding: 2rem;
}