.dialog-container {
  height: 100%;
}

#trailer {
  overflow: hidden;
}

iframe {
  width: 100%;
  padding: 0;
  border: 0;
  height: 100%;
}

#trailer,
#trailer-list {
  background: #000;
  position: relative;
  height: 100%;
  ;
}

#trailer-list img {
  width: 100%;
}

.trailer-thumb {
  position: relative;
  cursor: pointer;
  opacity: 0.95;
}

.trailer-thumb:hover {
  opacity: 1;
}

.trailer-thumb>mat-icon {
  position: absolute;
  z-index: 1;
  color: #fff;
  left: 50%;
  top: 25%;
  transform: translate(-60%);
  font-size: 3rem;
}

.close-dialog {
  z-index: 99;
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.close-dialog:hover {
  opacity: 1;
}

/* Row View */

#trailer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

#toggle-playlist {
  position: fixed;
  top: 12px;
  background: #222;
  padding: 0.5rem 0.5rem 0.3rem;
  cursor: pointer;
  z-index: 9;
}

#toggle-playlist mat-icon {
  color: #fff;
}

#trailer-list.open {
  right: 0;
  background: #1f1f1f;
  padding: 5px;
  height: 95%;
  max-height: 95%;
  overflow: scroll;
  overflow-x: hidden;
}

#trailer-list.open>#toggle-playlist {
  right: 20%;
}

#trailer-list.closed {
  right: -20%;
}

#trailer-list.closed>#toggle-playlist {
  right: 10px;
}

@media screen and (max-width: 600px) {
  #trailer-list.open>#toggle-playlist {
    right: 50%;
  }
  #trailer-list.closed>#toggle-playlist {
    right: 0;
  }
  #trailer-list.closed {
    right: -50%;
  }
}
