<!-- CLose Button -->
<div id="toggle-trailer">
  <mat-icon class="close-dialog" (click)="closeDialog()">close</mat-icon>
</div>
<div id="toggle-playlist" (click)="togglePlaylist()">
  <mat-icon>playlist_play</mat-icon>
</div>
<!-- Dialog Container -->
<div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="dialog-container">
  <!-- Video Container -->
  <div id="trailer" fxLayoutAlign="center center" fxFlex="100%">
    <iframe width="800" height="600" [src]="safeURL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <!-- Playlist Container -->
  <div id="trailer-list" fxLayout="column" fxFlex="20%" fxFlexOffset="80%" fxFlex.xs="50%" fxFlexOffset.xs="50%" class="open"
    [ngClass]="[isPlaylistOpen ? 'open' : 'closed']">
    <div *ngFor="let url of videoURLs; let i = index" class="trailer-thumb" (click)="sanitizeURL(url)">
      <img [src]="videoThumbs[i]" alt="">
      <mat-icon class="play-arrow">play_circle_outline</mat-icon>
    </div>
  </div>
</div>