@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-red, 800);
$accent: mat-palette($mat-deep-orange, 700, 300, 900);
$warn:  mat-palette($mat-pink, 600);
$theme: mat-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

.mat-drawer-backdrop.mat-drawer-shown, .cdk-overlay-dark-backdrop{
    background-color: rgba(0, 0, 0, 0.75) !important;
}