<h2>Generate Sitemaps</h2>
<p>Make sure you fixed all duplicate URLs before generating the sitemaps.</p>
<button mat-raised-button color="primary" (click)="generateMoviesSitemap()">Generate Movies Sitemap</button>
<button mat-raised-button color="primary" (click)="generateMoviesCategoriesSitemap()" disabled>Generate Movies Categories Sitemap</button>
<button mat-raised-button color="primary" (click)="generateTvShowsSitemap()">Generate Tv Shows Sitemap</button>
<button mat-raised-button color="primary" (click)="generateTvShowsCategoriesSitemap()" disabled>Generate Tv Shows Categories Sitemap</button>
<button mat-raised-button color="primary" (click)="generateCelebsSitemap()">Generate Celebs Sitemap</button>
<button mat-raised-button color="primary" (click)="generateMovieGenresSitemap()">Generate Movie Genres Sitemap</button>
<button mat-raised-button color="primary" (click)="generateTvShowGenresSitemap()">Generate Tv Show Genres Sitemap</button>
<button mat-raised-button color="primary" (click)="generateCompaniesSitemap()">Generate Companies Sitemap</button>
<button mat-raised-button color="primary" (click)="generateProfilesSitemap()">Generate Profiles Sitemap</button>
<button mat-raised-button color="primary" (click)="generatePagesSitemap()">Generate Pages Sitemap</button>
