<h2>Generate Sitemaps</h2>
<p>Make sure you fixed all duplicate URLs before generating the sitemaps.</p>
<button mat-raised-button color="primary" (click)="generateMoviesSitemap()">Generate Movies Sitemap</button>
<button mat-raised-button color="primary" (click)="generateTvShowsSitemap()" disabled>Generate Tv Shows Sitemap</button>
<button mat-raised-button color="primary" (click)="generateCelebsSitemap()">Generate Celebs Sitemap</button>
<button mat-raised-button color="primary" (click)="generateMovieGenresSitemap()">Generate Movie Genres Sitemap</button>
<button mat-raised-button color="primary" (click)="generateTvShowGenresSitemap()" disabled>Generate Tv Show Genres Sitemap</button>
<button mat-raised-button color="primary" (click)="generateCompaniesSitemap()" disabled>Generate Companies Sitemap</button>
<button mat-raised-button color="primary" (click)="generateProfilesSitemap()" disabled>Generate Profiles Sitemap</button>
<button mat-raised-button color="primary" (click)="generatePagesSitemap()" disabled>Generate Pages Sitemap</button>
