<div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
<!-- Main Search -->
<button mat-button class="search-toggle" (click)="toggleSearch()" show="showSearch" tabindex="0">
  <mat-icon class="mat-icon material-icons">search</mat-icon>
</button>
<!-- Account Menu -->
<nav id="account-menu">
  <!-- Login -->
  <button mat-button class="login-btn" (click)="this.as.openLoginDialog()" *ngIf="this.aus.isLoggedIn === false">
    <mat-icon class="mat-icon material-icons">perm_identity</mat-icon>
  </button>
  <!-- My Account -->
  <button mat-button class="account-button" [matMenuTriggerFor]="account" *ngIf="this.aus.isLoggedIn === true">
    <mat-icon class="mat-icon material-icons">face</mat-icon>
  </button>
  <mat-menu #account="matMenu" [overlapTrigger]="false">
    <a mat-menu-item routerLink="/my-account" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Account</a>
    <a mat-menu-item routerLink="/my-account/favorites" routerLinkActive="active">Favorites</a>
    <a mat-menu-item routerLink="/my-account/ratings" routerLinkActive="active">Ratings</a>
    <!-- <a mat-menu-item routerLink="/admin" routerLinkActive="active" *ngIf="userRole === 'admin'">Admin Area</a> -->
    <a mat-menu-item (click)="this.aus.logout()">Logout</a>
  </mat-menu>
</nav>