<div class="nav-container docs-primary-header component-page-header" fxLayout.lg="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="end stretch">
    <!-- Main Search -->
    <app-search-form class="main-search"></app-search-form>
    <!-- Account Menu -->
    <nav id="account-menu">
        <!-- Login -->
        <a (click)="this.as.openLoginDialog()" *ngIf="this.aus.isLoggedIn === false">
            <button mat-raised-button color="primary" class="login-btn">
                <span>LOGIN</span>
                <!-- <mat-icon>exit_to_app</mat-icon> -->
            </button>
        </a>
        <!-- My Account -->
        <button mat-raised-button color="primary" class="account-button" [matMenuTriggerFor]="account" *ngIf="this.aus.isLoggedIn === true">
            <mat-icon>perm_identity</mat-icon>
            <span class="account-name">{{ this.user?.displayName || this.aus.authState.displayName }}</span>
        </button>
        <mat-menu #account="matMenu" [overlapTrigger]="false">
            <a mat-menu-item routerLink="/my-account" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Account</a>
            <a mat-menu-item routerLink="/my-account/favorites" routerLinkActive="active">Favorites</a>
            <a mat-menu-item routerLink="/my-account/ratings" routerLinkActive="active">Ratings</a>
            <a mat-menu-item (click)="this.aus.logout()">Logout</a>
        </mat-menu>
    </nav>
</div>