<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxLayoutAlign="center center">
    <p>Enter your email address and we will send you a link to reset your password.</p>
    <form>
      <mat-form-field>
        <input matInput name="email" type="text" placeholder="Enter your email address" #email required />
      </mat-form-field>
      <div *ngIf="this.as.authError" class="error">{{ this.as.authError }}</div>
      <div *ngIf="this.as.authMessage" class="message">{{ this.as.authMessage }}</div>
    </form>

    <button mat-raised-button color="primary" (click)="this.as.resetPassword(email.value)">Send password reset email</button>

    <a routerLink="/auth/login">Login</a>
    <!-- <a routerLink="/auth/register">Register</a> -->
  </mat-card>
</div>