<footer id="colophon" fxLayout="column">
    <!-- <button mat-button class="scrolltotop" (click)="this.as.scrollToTop('#now-playing')">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">keyboard_arrow_up</mat-icon>
    </button>
    <button mat-button class="scrolltotop" (click)="this.as.scrollToTop('#upcoming')">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">keyboard_down_up</mat-icon>
    </button> -->
    <button mat-button class="scrolltotop" (click)="this.as.scrollToTop()">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">keyboard_arrow_up</mat-icon>
    </button>
    <div class="footer-inner" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-evenly start">
        <div class="footer-widget" fxFlex="30" fxFlex.sm="100" fxFlex.xs="100">
            <h3 class="widget-title">About Current Movie Releases</h3>
            <div class="textwidget">
                <p>Current Movie Releases is a progressive web application about movies.</p>
                <p>We provide the latest information for the now playing and upcoming movies. Theatrical, high quality trailers,
                    movie overviews, actors and other celebrities, directors, producers with the entire cast and crew list.
                    You will also find some interesting technical film details. The movies are reviewed by some of our best
                    film critics and rated by our best users. :) </p>
                <p>Feel free to browse our movie collections and submit your rating about the preferred "Must See". Every user's
                    rating counts as a voter on the movie. If you have a favorite, you can add that to your Favorites list,
                    find a great film, you can always recommend it to your friends via the built in social buttons. A variety
                    of social networking tools are available just for our users who plan explore the movie universe. We want
                    you to share and write your own opinion too, because we all can determine if a movie is worth watching
                    or not!
                    <br> The highest rated films will be added daily to our "Best of Releases" lists, so you'll the most recent,
                    best rated ones. If you want to receive instant notifications you are welcome install the CMR web application
                    in your Google Chrome browser, works in desktop and on Android too. We send out news and interesting
                    TOP of posts to our social networks Facebook, Twitter, Google+, Digg and Reddit. Feel free to join us!</p>
                <p>Are you curios to find out
                    <a href="https://www.film-producer.info" target="_blank" rel="noopener">what does a film producer do?</a>
                </p>
                <p>Check out some of our Collection websites:
                    <br>
                    <a href="http://www.king-movies.com" target="_blank" rel="noopener">Stephen King Filmography</a>
                </p>
                <p>
                    <a href="http://www.spielberg-movies.com" target="_blank" rel="noopener">Steven Spielberg Filmography</a>
                </p>
                <p>The Team</p>
            </div>
        </div>
        <div class="footer-widget" fxFlex="34" fxFlex.sm="100" fxFlex.xs="100">
            <h3 class="widget-title">Top actors by movies count</h3>
            <div id="advert-widget3" class="advert-widget-400">
                <!-- <app-adsense-widgets [slotId]="8891110759"></app-adsense-widgets> -->
            </div>
            <ul id="actors-list" class="nav navbar-nav">
                <li>
                    <a mat-list-item href="/celebrity/dwayne-johnson" routerLink="/celebrity/dwayne-johnson">Dwayne Johnson (193)</a>
                </li>
                <li>
                    <a mat-list-item href="/celebrity/robert-downey-jr" routerLink="/celebrity/robert-downey-jr">Robert Downey Jr. (100)</a>
                </li>
                <li>
                    <a mat-list-item href="/celebrity/johnny-depp" routerLink="/celebrity/johnny-depp">Johnny Depp (88)</a>
                </li>
                <li>
                    <a mat-list-item href="/celebrity/scarlett-johansson" routerLink="/celebrity/scarlett-johansson">Scarlett Johansson (67)</a>
                </li>
                <li>
                    <a mat-list-item href="/celebrity/christian-bale" routerLink="/celebrity/christian-bale">Christian Bale (56)</a>
                </li>
                <li>
                    <a mat-list-item href="/celebrity/jason-statham" routerLink="/celebrity/jason-statham">Jason Statham (49)</a>
                </li>
                <li>
                    <a mat-list-item href="/celebrity/leonardo-dicaprio" routerLink="/celebrity/leonardo-dicaprio">Leonardo DiCaprio (44)</a>
                </li>
                <li>
                    <a mat-list-item href="/celebrity/alicia-vikander" routerLink="/celebrity/alicia-vikander">Alicia Vikander (33)</a>
                </li>
                <li>
                    <a mat-list-item href="/celebrity/jennifer-lawrence" routerLink="/celebrity/jennifer-lawrence">Jennifer Lawrence (32)</a>
                </li>
                <li>
                    <a mat-list-item href="/celebrity/chris-hemsworth" routerLink="/celebrity/chris-hemsworth">Chris Hemsworth (30)</a>
                </li>
            </ul>
        </div>
        <div class="footer-widget" fxFlex="30" fxFlex.sm="100" fxFlex.xs="100">
            <h3 class="widget-title">Movies by Genre</h3>
            <ul id="genre-list" class="nav navbar-nav">
                <li>
                    <a href="/movies/genre/action" routerLink="/movies/genre/action">Action</a>
                </li>
                <li>
                    <a href="/movies/genre/adventure" routerLink="/movies/genre/adventure">Adventure</a>
                </li>
                <li>
                    <a href="/movies/genre/animation" routerLink="/movies/genre/animation">Animation</a>
                </li>
                <li>
                    <a href="/movies/genre/comedy" routerLink="/movies/genre/comedy">Comedy</a>
                </li>
                <li>
                    <a href="/movies/genre/crime" routerLink="/movies/genre/crime">Crime</a>
                </li>
                <li>
                    <a href="/movies/genre/documentary" routerLink="/movies/genre/documentary">Documentary</a>
                </li>
                <li>
                    <a href="/movies/genre/drama" routerLink="/movies/genre/drama">Drama</a>
                </li>
                <li>
                    <a href="/movies/genre/family" routerLink="/movies/genre/family">Family</a>
                </li>
                <li>
                    <a href="/movies/genre/fantasy" routerLink="/movies/genre/fantasy">Fantasy</a>
                </li>
                <li>
                    <a href="/movies/genre/history" routerLink="/movies/genre/history">History</a>
                </li>
                <li>
                    <a href="/movies/genre/horror" routerLink="/movies/genre/horror">Horror</a>
                </li>
                <li>
                    <a href="/movies/genre/music" routerLink="/movies/genre/music">Music</a>
                </li>
                <li>
                    <a href="/movies/genre/mystery" routerLink="/movies/genre/mystery">Mystery</a>
                </li>
                <li>
                    <a href="/movies/genre/romance" routerLink="/movies/genre/romance">Romance</a>
                </li>
                <li>
                    <a href="/movies/genre/science-fiction" routerLink="/movies/genre/science-fiction">Science Fiction</a>
                </li>
                <li>
                    <a href="/movies/genre/tv-movie" routerLink="/movies/genre/tv-movie">TV Movie</a>
                </li>
                <li>
                    <a href="/movies/genre/thriller" routerLink="/movies/genre/thriller">Thriller</a>
                </li>
                <li>
                    <a href="/movies/genre/war" routerLink="/movies/genre/war">War</a>
                </li>
                <li>
                    <a href="/movies/genre/western" routerLink="/movies/genre/western">Western</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="sitemap" class="footer-links" fxLayout.sm="row" fxLayout.xs="row">
        <ul id="menu-footer-menu" class="nav navbar-nav">
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a href="/movies/now-playing" routerLink="/movies/now-playing">Now Playing Movies</a>
            </li>
            <li>
                <a href="/movies/upcoming" routerLink="/movies/upcoming">Upcoming Movies</a>
            </li>
            <li>
                <a href="/movies/most-popular" routerLink="/movies/most-popular">Most Popular</a>
            </li>
            <li>
                <a href="/movies/top-rated" routerLink="/movies/top-rated">Top Rated</a>
            </li>
            <li>
                <a href="/movies" routerLink="/movies">Movies</a>
            </li>
            <!-- <li>
                <a href="/tv-shows" routerLink="/tv-shows">Tv Shows</a>
            </li> -->
            <li>
                <a href="/celebrities" routerLink="/celebrities">Celebrities</a>
            </li>
            <li>
                <a href="/movies/genres" routerLink="/movies/genres">Genres</a>
            </li>
            <!-- <li>
                <a href="/dvd" routerLink="/dvd">DVD Releases</a>
            </li> -->
            <!-- <li>
                <a href="/merchandising" routerLink="/merchandising">Merchandising</a>
            </li> -->
            <!-- <li>
                <a href="/tickets" routerLink="/tickets">Movie Tickets</a>
            </li> -->
        </ul>
    </div>
    <div id="disclaimer" fxLayout="column">
        <em>Disclaimer:</em>
        <p>The dates on CMR are shown in GMT timezone. The release dates are based on the primary theatrical release dates in
            the United States of America.</p>
        <em>Movie Ratings:</em>
        <p>The Total Movie Ratings is a sum of a calculation based on the TMDB (tmdb.org) Movie Rating, our Movie Critics Rating,
            and our User Ratings.</p>
        <em>Web Content and Copyright info:</em>
        <p>All content, logos, movie titles, movie posters, movie images are copyrighted materials by their respective owners.
            No content, logo, image, web design, application code, or any other material of this web application may be copyrighted
            without explicit permission. We (CMR) do not own any data provided for the listed movies or celebrities. Our
            Film and Celebrities data is provided by The Movie Database Organization -
            <a href="https://www.tmdb.org" target="_blank" rel="noopener" class="poweredbytmdb" aria-label="TMDB">TMDB</a>
        </p>
    </div>
    <div id="credits" fxLayout="row">
        <div class="site-description"> Copyright © 2011 - 2018 | Now Playing and Upcoming Movies by Current Movie Releases. All Rights Reserved.</div>
        <div id="footer-links" class="footer-links">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/privacy" routerLink="/privacy">Privacy Policy</a>
                </li>
                <li>
                    <a href="/terms" routerLink="/terms">Terms of Use</a>
                </li>
                <!-- <li>
                    <a href="/buying" routerLink="/buying">How to Buy</a>
                </li> -->
                <!-- <li>
                    <a href="/about" routerLink="/about">About Us</a>
                </li> -->
                <!-- <li>
                    <a href="/sitemap" routerLink="/sitemap">Site Map</a>
                </li> -->
                <li>
                    <a href="https://www.facebook.com/currentmoviereleases" target="_blank" rel="noopener">Facebook</a>
                </li>
                <li>
                    <a href="https://twitter.com/CmovieR" target="_blank" rel="noopener">Twitter</a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Currentmoviereleases" target="_blank" rel="noopener">Google+</a>
                </li>
                <li>
                    <a href="https://www.pinterest.com/currentmoviereleases/" target="_blank" rel="noopener">Pinterest</a>
                </li>
            </ul>
        </div>
    </div>
</footer>