<footer id="colophon" role="doc-footnote" fxlayout="column">
    <button mat-button class="scrolltotop" (click)="this.as.scrollToTop()">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">keyboard_arrow_up</mat-icon>
    </button>
    <div class="footer-inner" fxlayout="column" fxlayout.sm="column" fxlayout.xs="column">
        <div class="footer-widget">
            <h3 class="widget-title">About Current Movie Releases</h3>
            <div class="textwidget">
                <p>Eager to find out everything about the Latest Movies in Theaters? You have come to the right place!</p>
                <p>This is the best place to get latest updates regarding your preferred movies. We tend to satisfy all your
                    needs about the latest cinema releases and now playing movies. We provide the latest information including
                    theatrical, high quality trailers and synopsis about upcoming movies and actors. Feel free to browse
                    our movie collection and submit a rating about the preferred "Must See". If you find a great film, you
                    can always recommend it to your friends. A variety of social networking tools are available just for
                    our users who plan to brag about their findings. We want you to share and write your own opinions. You
                    can determine whether a movie is worth watching or not!
                    <br> The most liked and recommended films will be added to our "Best of Releases" list, so that every visitor
                    can see what are the most recommended ones. If you want to receive instant notifications you are welcome
                    to visit and follow us on your preferred social network Facebook, Twitter, Google+, Digg and Reddit.
                    RSS Feeds are always at your disposal too.</p>
                <p>Are you curios to find out
                    <a href="https://www.film-producer.info" target="_blank">what does a film producer do?</a>
                </p>
                <p>Check out some of our Collection websites:
                    <br>
                    <a href="http://www.king-movies.com" target="_blank">Stephen King Filmography</a>
                </p>
                <p>
                    <a href="http://www.spielberg-movies.com" target="_blank">Steven Spielberg Filmography</a>
                </p>
                <p>The Team</p>
            </div>
            <div class="fb-share-button" data-href="https://www.currentmoviereleases.com/" data-layout="button_count" data-size="small"
                data-mobile-iframe="true">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.currentmoviereleases.com%2F&amp;src=sdkpreparse"
                    class="fb-xfbml-parse-ignore">Share</a>
            </div>
        </div>

    </div>
    <div class="footer-widget">
        <!-- <h3 class="widget-title">Top actors by released movies count</h3> -->
        <!-- <p>Here is the second Widget </p> -->
    </div>
    <div class="footer-widget">
        <!-- <h3 class="widget-title">Movies by Genre</h3> -->
        <!-- <p>Here is the third Widget </p> -->
        <div id="single-ad-widget2" class="advert-widget">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- CMR - Footer - Responsive links -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1194632820323385" data-ad-slot="8891110759" data-ad-format="link"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
    <div id="sitemap" fxlayout.sm="row" fxlayout.xs="row">
        <ul id="menu-footer-menu" class="nav navbar-nav">
            <li id="menu-item-2724">
                <a href="/">Home</a>
            </li>
            <li id="menu-item-4565">
                <a href="/latest-movies/">Latest Movies</a>
            </li>
            <li id="menu-item-4564">
                <a href="/upcoming-movies/">Upcoming Movies</a>
            </li>
            <li id="menu-item-133">
                <a href="/movies/">Movies</a>
            </li>
            <li id="menu-item-81">
                <a href="/actors/">Actors</a>
            </li>
            <li id="menu-item-82">
                <a href="/genre/">Genres</a>
            </li>
            <!-- <li id="menu-item-83"><a href="/collection/">Collections</a></li> -->
            <li id="menu-item-97">
                <a href="/topics/blog/" target="_blank">Blog Posts</a>
            </li>
            <li id="menu-item-86">
                <a href="https://www.facebook.com/currentmoviereleases" target="_blank">Facebook</a>
            </li>
            <li id="menu-item-85">
                <a href="https://twitter.com/CmovieR" target="_blank">Twitter</a>
            </li>
            <li id="menu-item-88">
                <a href="https://plus.google.com/+Currentmoviereleases" target="_blank">Google+</a>
            </li>
            <li id="menu-item-4288">
                <a href="https://www.pinterest.com/currentmoviereleases/" target="_blank">Pinterest</a>
            </li>
            <li id="menu-item-87">
                <a href="/feed/" target="_blank">RSS Feed</a>
            </li>
        </ul>
    </div>
    <div id="disclaimer" fxlayout.sm="row" fxlayout.xs="row">
        <h4>Disclaimer:</h4>
        <p>The dates on this website are shown in UTC+2 timezone. The release dates are based on theatrical dates in the United
            States of America. Movie ratings are calculated with data pulled from TMDB (tmdb.org) plus our user ratings combined.
            <br> For more information please visit our development page.</p>
    </div>
    <div id="credits" fxlayout.sm="row" fxlayout.xs="row">
        <div class="site-description">Now Playing and Upcoming Movies | Current Movie Releases © 2011 - 2018</div>
    </div>
</footer>