<!-- Header -->
<header>
  <!-- Page Title -->
  <h2 class="page-title">Users</h2>
</header>

<!-- Filter -->
<div class="filter">
  <mat-form-field floatPlaceholder="never">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<!-- Users List Table -->
<div class="users-container mat-elevation-z8">
  <mat-table #table [dataSource]="usersDataSource" matSort>
    <!-- IsActive Column -->
    <ng-container matColumnDef="isActive">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="row.isActive === true" class="online" matTooltip="online"></span>
        <span *ngIf="row.isActive === false" class="offline" matTooltip="offline"></span>
      </mat-cell>
    </ng-container>
    <!-- Photo Column -->
    <ng-container matColumnDef="photoURL">
      <mat-header-cell *matHeaderCellDef>Avatar</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <img class="avatar" [src]="row.photoURL" [alt]="row.username" [title]="row.username">
      </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="displayName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="!row.displayName">-</span>
        <span *ngIf="row.displayName">{{row.displayName}}</span>
      </mat-cell>
    </ng-container>
    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="!row.username">-</span>
        <span *ngIf="row.username">{{row.username}}</span>
      </mat-cell>
    </ng-container>
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
    </ng-container>
    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.role}}</mat-cell>
    </ng-container>
    <!-- Registration Date Column -->
    <ng-container matColumnDef="regDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Reg. Date </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.regDate | date:short}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToUserDetails(row.$key)"></mat-row>
  </mat-table>

  <!-- Spinner -->
  <div *ngIf="!usersDataSource.data.length" class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 25, 50, 100]" [pageSize]="15"></mat-paginator>
</div>

<!-- Add New User Button -->
<button mat-fab (click)="goToAddNewUser()" class="add-new">
  <mat-icon>add</mat-icon>
</button>