<mat-tab-group>
  <mat-tab label="Movies">
    <!-- Movies Duplicate Checker -->
    <mat-card>
      <mat-card-title>
        <h1>Duplicate Movie URLs
          <mat-icon (click)="getAllMoviesResults()">refresh</mat-icon>
        </h1>
      </mat-card-title>

      {{ currentMoviesStatus }}

      <div *ngIf="fbDuplicateMovieTitles?.length && !loadingMovies">
        <p>Found {{ fbDuplicateMovieTitles.length }} duplicate movie URLs.</p>
        <p>Make sure you update the 'slug' and 'url' properties for each results below:</p>
      </div>

      <div fxLayout="row">
        <!-- DB Duplicate Results -->
        <ul *ngIf="fbDuplicateMovieTitles && !loadingMovies" fxFlex="35%" class="duplicate-list">
          <li *ngFor="let dup of fbDuplicateMovieTitles; let i = index" (click)="getDuplicateMovieDetailsBySlug(dup)" class="duplicate">
            <div>{{ i + 1 }}.) {{ dup }}</div>
          </li>
        </ul>

        <!-- Duplicate Details -->
        <div *ngIf="duplicateMovieDetails && !loadingMovies" fxFlex class="duplicate-details">
          <div class="fixed-box" fxFlex>
            <div *ngFor="let d of duplicateMovieDetails" fxLayout="row" fxLayoutAlign="center center">
              <a [href]="'https://console.firebase.google.com/project/rock-extension-140016/database/rock-extension-140016/data/movie_results/' + d.id"
                target="_blank">{{ d.id }}</a> | {{ d.release_date | date: 'y'}}
              <mat-form-field fxFlex class="duplicate-input">
                <input matInput type="text" [(ngModel)]="d.slug" #slug>
              </mat-form-field>
              <mat-form-field fxFlex class="duplicate-input">
                <input matInput type="text" [(ngModel)]="d.url" #url>
              </mat-form-field>
              <button mat-raised-button (click)="updateMovieUrl(d.id, slug.value, url.value, d.release_date)">Update</button>
            </div>
          </div>
        </div>
        <div *ngIf="duplicateMovieDetails === '' && !loadingMovies" fxFlex class="duplicate-details">
          <p>No duplicate slugs found for this movie. Please rerun the duplicate checker.</p>
        </div>
      </div>

      <div *ngIf="fbDuplicateMovieTitles === null && !loadingMovies">No duplicate movies titles are saved in Firebase. Please run duplicate movie title checker again!</div>

      <!-- Loader -->
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loadingMovies" class="loader">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </mat-card>
  </mat-tab>

  <mat-tab label="Persons">
    <!-- Persons Duplicate Checker -->
    <mat-card>
      <mat-card-title>
        <h1>Duplicate Person URLs
          <mat-icon (click)="getAllPersonsResults()">refresh</mat-icon>
        </h1>
      </mat-card-title>

      {{ currentPersonsStatus }}

      <div *ngIf="fbDuplicatePersonNames?.length && !loadingPersons">
        <p>Found {{ fbDuplicatePersonNames.length }} duplicate person URLs.</p>
        <p>Make sure you update the 'slug' and 'url' properties for each results below:</p>
      </div>

      <div fxLayout="row">
        <!-- DB Duplicate Results -->
        <ul *ngIf="fbDuplicatePersonNames && !loadingPersons" fxFlex="35%" class="duplicate-list">
          <li *ngFor="let dup of fbDuplicatePersonNames; let i = index" (click)="getDuplicatePersonDetailsBySlug(dup)" class="duplicate">
            <div>{{ i + 1 }}.) {{ dup }}</div>
          </li>
        </ul>

        <!-- Duplicate Details -->
        <div *ngIf="duplicatePersonDetails && !loadingPersons" fxFlex class="duplicate-details">
          <div class="fixed-box" fxFlex>
            <div *ngFor="let d of duplicatePersonDetails" fxLayout="row" fxLayoutAlign="center center">
              <a [href]="'https://console.firebase.google.com/project/rock-extension-140016/database/rock-extension-140016/data/celeb_results/' + d.id"
                target="_blank">{{ d.id }}</a> | {{ d.release_date | date: 'y'}}
              <mat-form-field fxFlex class="duplicate-input">
                <input matInput type="text" [(ngModel)]="d.slug" #slug>
              </mat-form-field>
              <mat-form-field fxFlex class="duplicate-input">
                <input matInput type="text" [(ngModel)]="d.url" #url>
              </mat-form-field>
              <button mat-raised-button (click)="updatePersonUrl(d.id, slug.value, url.value)">Save</button>
            </div>
          </div>
        </div>
        <div *ngIf="duplicatePersonDetails === '' && !loadingPersons" fxFlex class="duplicate-details">
          <p>No duplicate slugs found for this person. Please rerun the duplicate checker.</p>
        </div>
      </div>

      <div *ngIf="fbDuplicatePersonNames === null && !loadingPersons">No duplicate persons titles are saved in Firebase. Please run duplicate person name checker again!</div>

      <!-- Loader -->
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loadingPersons" class="loader">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    </mat-card>
  </mat-tab>
</mat-tab-group>