ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1 mat-icon {
  cursor: pointer;
  color: #ddd;
}

mat-icon {
  position: relative;
  top: 5px;
  color: #fff;
}

.loader {
  margin: 2rem;
}

.duplicate {
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
}

.duplicate:hover {
  background: #eee;
}

.duplicate-details {
  position: relative;
  margin-left: 1rem
}

.duplicate-details input {
  font-size: 12px;
}

.duplicate-input {
  margin: 0 0 0 1rem;
}

.duplicate-list {
  margin-block-end: 2rem;
}

.duplicate-details a {
  width: 70px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.duplicate-details button {
  margin-left: 1rem;
}

.fixed-box {
  position: fixed;
  /* background: #fff; */
  padding: 1rem 2rem 1rem 0rem;
  box-shadow: 1px 1px 1px 2px #ddd;
}
