.top-links{
    border-bottom: 1px solid #080808;
}
.bottom-links{
    border-top: 1px solid #30303080;
    border-bottom: 1px solid #080808;
    padding-top: 0;
}
mat-list-item span{
    margin: 0 15px;
    display: inline-block;
}