<mat-nav-list class="top-links" role="list">
  <mat-list-item role="listitem" routerLink="/movies/" tabindex="0"><mat-icon class="mat-icon material-icons">movie_filter</mat-icon><span>Movies Filter</span></mat-list-item>
  <mat-list-item role="listitem" routerLink="/movies/now-playing" tabindex="0"><mat-icon class="mat-icon material-icons">schedule</mat-icon><span>Now Playing</span></mat-list-item>
  <mat-list-item role="listitem" routerLink="/movies/upcoming" tabindex="0"><mat-icon class="mat-icon material-icons">schedule</mat-icon><span>Upcoming</span></mat-list-item>
  <mat-list-item role="listitem" routerLink="/movies/most-popular" tabindex="0"><mat-icon class="mat-icon material-icons">timeline</mat-icon><span>Most Popular</span></mat-list-item>
  <mat-list-item role="listitem" routerLink="/movies/top-rated" tabindex="0"><mat-icon class="mat-icon material-icons">star_rate</mat-icon><span>Top Rated</span></mat-list-item>
</mat-nav-list>
<mat-nav-list  class="bottom-links" role="list">
  <mat-list-item role="listitem" *ngFor="let genre of movieGenresList" (click)="this.as.goToMovieGenresPage(genre.name)" tabindex="0">{{ genre.name }}</mat-list-item>
</mat-nav-list>