<a mat-list-item routerLink="/movies/" role="listitem">Movies Filter</a>
<a mat-list-item routerLink="/movies/now-playing" routerLinkActive="active" role="listitem">Now Playing</a>
<a mat-list-item routerLink="/movies/upcoming" routerLinkActive="active" role="listitem">Upcoming</a>
<a mat-list-item routerLink="/movies/most-popular" routerLinkActive="active" role="listitem">Most Popular</a>
<a mat-list-item routerLink="/movies/top-rated" routerLinkActive="active" role="listitem">Top Rated</a>


<!-- <mat-menu #genres="matMenu" [overlapTrigger]="false">
  <a [routerLink]="'/movies/genre/' + this.as.urlOptimizeText(genre.name)" mat-menu-item *ngFor="let genre of movieGenresList"
    class="genre-btn" routerLinkActive="active">{{ genre.name }}</a>
</mat-menu> -->