<div class="main-sidenav-container">
    <mat-toolbar color="primary" class="sidenav-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="sidenav-app-name">Current Movie Releases</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav>
              <a href="#">Upcoming</a>
              <a href="#">Now Playing</a>
              <a href="#">Most Popular</a>
              <a href="#">Top Rated</a>
      </mat-sidenav>
  
      <mat-sidenav-content>
          <p>Lorem Ipsum Dolor</p>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>