<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxLayoutAlign="center center">
    <form>
      <mat-form-field>
        <input matInput name="email" type="text" placeholder="Email" #email required />
      </mat-form-field>
      <mat-form-field>
        <input matInput name="password" type="password" placeholder="Password" #password required autocomplete="" />
      </mat-form-field>
      <div *ngIf="this.as.authError" class="error">{{ this.as.authError }}</div>
    </form>

    <button mat-raised-button color="primary" (click)="this.as.emailLogin(email.value, password.value)">Login</button>

    <a routerLink="/auth/forgot-password">Forgot Password?</a>
  </mat-card>
</div>