<!-- Fixed Header -->
<div class="header-fixed">
  <!-- Page Title -->
  <h2 class="page-title">
    <mat-icon (click)="goBack()" matToolTip="Go Back To Previous Page">arrow_back</mat-icon>Add New User
  </h2>
  <div class="buttons">
    <!-- Add / Update Button-->
    <button mat-raised-button color="primary" (click)="save(addUserForm.value, pass.value, repeatPass.value)">Save</button>
  </div>
</div>

<!-- Forms -->
<div fxLayout="column" fxFlex class="form-container">
  <!-- User Details Form Card-->
  <form [formGroup]="addUserForm">
    <mat-card>
      <mat-card-title>User Details</mat-card-title>
      <mat-card-content class="card-content">
        <div class="form-left">
          <!-- User Image -->
          <img [src]="addUserForm.controls.photoURL.value" [alt]="addUserForm.controls.username.value" />
          <!-- User Image Input -->
          <mat-form-field>
            <input matInput type="text" name="userAvatar" placeholder="User Image" formControlName="photoURL" #userAvatar>
          </mat-form-field>
          <!-- User Profile Image Upload Button-->
          <input type="file" placeholder="Select File" name="imageFile" (change)="imgFileChange($event)" accept="image/*" #inputFile>
          <ng-container *ngIf="uploadProcessing['user-avatars']">
            <mat-progress-bar color="primary" mode="determinate" [value]="uploadProcessing['user-avatars'].progress"></mat-progress-bar>
          </ng-container>
        </div>
        <div class="form-right">
          <!-- Name -->
          <mat-form-field>
            <input matInput type="text" placeholder="Name" formControlName="name">
          </mat-form-field>
          <!-- Username -->
          <mat-form-field>
            <input matInput type="text" name="userName" placeholder="Username" formControlName="username" #userName>
          </mat-form-field>
          <!-- Email -->
          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email">
          </mat-form-field>
          <!-- Age -->
          <mat-form-field>
            <input matInput type="text" placeholder="Age" formControlName="age">
          </mat-form-field>
          <!-- User Role -->
          <mat-form-field class="select-container">
            <mat-select placeholder="User Role" formControlName="role">
              <mat-option value="admin">admin</mat-option>
              <mat-option value="artist">artist</mat-option>
              <mat-option value="subscriber">subscriber</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Password -->
          <mat-form-field>
            <input matInput name='pass' type="password" placeholder="Password" #pass required>
          </mat-form-field>
          <!-- Confirm Password -->
          <mat-form-field>
            <input matInput name="repeatPass" type="password" placeholder="Repeat Password" #repeatPass required>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>