<div id="page-header" fxLayout="row">
  <div id="header-left" fxFlex>
    <!-- Page Title -->
    <h2 *ngIf="genreType === 'movies'">{{ pageSeoTitle }}</h2>
    <p>{{ pageSeoDescr }}</p>

    <!-- Results Counter -->
    <div *ngIf="moviesList" id="results-counter">Results:
      <span *ngIf="currentPageIndex === totalPages">{{ totalResults }}</span>
      <span *ngIf="currentPageIndex !== totalPages">{{ currentPageIndex * 20 }}</span> / {{ totalResults }}
    </div>
  </div>
</div>

<div id="page-content" fxLayout="column">
  <!-- Movies List -->
  <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch" class="result-list" *ngIf="!loading && moviesList">
    <mat-card *ngFor="let movie of moviesList" class="result-card">
      <app-movie-card [movie]="movie"></app-movie-card>
    </mat-card>
  </div>
  <!-- More Loader -->
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="loadingMore" class="loader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <!-- Load More Button -->
  <div id="load-more" *ngIf="!loading && currentPageIndex !== totalPages">
    <button mat-raised-button color="primary" (click)="loadMoreResults(currentPageIndex + 1)">LOAD MORE...</button>
  </div>
  <!-- Loader -->
  <div fxLayout="column" fxLayoutAlign="center center" *ngIf="loading" class="loader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>