

@media screen and (max-width: 600px) {
    #page-header h1 {
        font-size: 1.4rem;
    }
    .tab-heading {
        text-transform: lowercase;
    }
    .movies-list {
        padding: 0.1rem;
    }
    .movie-card {
        margin: 0.05rem 0 0 0;
    }
}