.loader {
    margin: 1rem 0;
}

#load-more {
    text-align: center;
    margin: 1rem 0;
}

.movie-card {
    position: relative;
    max-height: 278px;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    background: #000;
    border: 1px solid #111;
    box-shadow: none !important;
}
.movie-card:hover {
    box-shadow: rgb(0, 0, 0) 0px 0px 10px !important;
    -moz-box-shadow: rgb(0, 0, 0) 0px 0px 10px !important;
    -webkit-box-shadow: rgb(0, 0, 0) 0px 0px 10px !important;
}

.movie-card img {
    width: 100%;
}
/*Movie Data for Movie Cards - release date and favorite button*/
.movie-data{
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
}
.movie-data .release-date{
    color: #FFF;
}
.movie-data .release-date h3{
    margin: 0;
    padding: 2% 5%;
    font-size: 75%;
    font-weight: normal;
    background: #000;
    text-align: center;
    color: #999;
}
.movie-info {
    position: absolute;
    opacity: 0;
    width: 100%;
    max-width: 165px;
    bottom: 0;
    padding: 0 10px;
    text-align: center;
    background: #000;
    color: #FFF;
}

.movie-info h2 {
    font-size: 0.8125rem;
    font-weight: normal;
    padding: 0.3rem 0 0.3rem 0;
    border-bottom: 1px solid #111;
    margin: 0;
}

h3 span.year {
    font-size: 1rem;
    font-weight: normal;
}

.movie-info-sub {
    border-bottom: 1px solid #111;
}
.movie-info-sub button.favorite.mat-icon-button{
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.movie-rating {
    width: 100%;
    text-align: left;
    font-size: 0.625rem;
    padding-top: 8px;
}

.movie-rating mat-icon {
    font-size: 1rem;
    width: auto;
    height: auto;
    top: 2px;
    position: relative;
    margin-right: 0.3rem;
    color: gold;
    text-shadow: 1px 1px 0px #777;
}

.movie-card:hover .movie-info, .movie-card:hover .movie-data{
    opacity: 1;
    -webkit-transition: -webkit-opacity .3s ease-in-out;
    transition: -webkit-opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out, -webkit-opacity .3s ease-in-out;
}

/* User Actions */
  .favorite  button {
  }
  
  .favorite button:hover mat-icon {
    color: #fff;
  }
  
  .favorite button mat-icon {
    color: #c62828;
  }
  
  .favorite button.active {
    background: #c62828;
  }
  
  .favorite button.active mat-icon {
    color: #fff;
  }

@media screen and (max-width: 600px) {
    #page-header h1 {
        font-size: 1.4rem;
    }
    .tab-heading {
        text-transform: lowercase;
    }
    .movies-list {
        padding: 0.1rem;
    }
    .movie-card {
        margin: 0.05rem 0 0 0;
    }
}