<div *ngIf="!loading" class="timeline-movies-content">
  <section class="section">
  <div fxlayout="row">
    <h2 fxFlex="66" class="section-title">Now Playing Movies - Latest Released Movies</h2>
    <!-- Now Playing Results Counter -->
    <div fxFlex="33" class="results-counter">
      <span>Results:</span>
      <span *ngIf="nowPlayingMoviesCurrentIndex === nowPlayingMoviesTotalPages">{{ nowPlayingMoviesTotalResults }}</span>
      <span *ngIf="nowPlayingMoviesCurrentIndex !== nowPlayingMoviesTotalPages">{{ nowPlayingMoviesCurrentIndex * 20 }}</span> / {{ nowPlayingMoviesTotalResults }}
      <span class="view_all"><a href="/movies/now-playing/">View All Now Playing Movies</a></span>
    </div>
  </div>
  <!-- Now Playng Movies -->
  <div *ngIf="!loading" class="now-playing-movies-container">
    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch" class="movies-list">
      <mat-card *ngFor="let movie of nowPlayingMovies; let i = index" class="movie-card">
        <div class="movie-data">
          <div class="release-date">
              <h3 class="year">Released Movie: <span class="release_date">{{ movie.release_date | date: 'yyyy-MM-dd' }}</span></h3>
          </div>
        </div>
        <a [routerLink]="['/movies/' + this.as.urlOptimizeText(movie.title) + '/' + movie.id]">
          <div class="movie-thumbnail">
            <img *ngIf="movie.poster_path; else defaultMovieImage" [src]="[TMDB_IMAGES_BASE_URL + IMG_300 + movie.poster_path]" [alt]="movie.title" class="movie-img">
            <ng-template #defaultMovieImage>
              <img src="assets/img/default-movie-poster.png" [alt]="movie.title" class="movie-img">
            </ng-template>
          </div>
          <div class="movie-info">
            <div class="movie-info-sub" fxLayout="row" fxLayoutAlign="space-evenly stretch">
              <span class="movie-rating"><mat-icon>star</mat-icon>{{ movie.vote_average / 2 }}</span>
              <div class="favorite">
                  <button mat-icon-button (click)="toggleFavoriteMovie()" class="favorite" matTooltip="Add to Favorites!" [ngClass]="{'active': isFavorited === true}">
                    <mat-icon class="mat-icon material-icons">favorite</mat-icon>
                  </button>
                </div>
            </div>
          </div>
          <h2>{{ movie.title }}</h2>
        </a>
      </mat-card>
    </div>
  </div>
  </section>
  <section class="section">
  <div fxlayout="row">
    <h2 fxFlex="66" class="section-title">Upcoming Movies</h2>
    <!-- Upcoming Results Counter -->
    <div fxFlex="33" class="results-counter">
      <span>Results:</span>
      <span *ngIf="upcomingMoviesCurrentIndex === upcomingMoviesTotalPages">{{ upcomingMoviesTotalResults }}</span>
      <span *ngIf="upcomingMoviesCurrentIndex !== upcomingMoviesTotalPages">{{ upcomingMoviesCurrentIndex * 20 }}</span> / {{ upcomingMoviesTotalResults }}
      <span class="view_all"><a href="/movies/now-playing/">View All Upcoming Movies</a></span>
    </div>
  </div>
  <!-- Upcoming Movies -->
  <div *ngIf="!loading" class="upcoming-movies-container">
    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch" class="movies-list">
      <mat-card *ngFor="let movie of upcomingMovies" class="movie-card">
        <div class="movie-data">
          <div class="release-date">
              <h3 class="year">Released Movie: <span class="release_date">{{ movie.release_date | date: 'yyyy-MM-dd' }}</span></h3>
          </div>
        </div>
        <a [routerLink]="['/movies/' + this.as.urlOptimizeText(movie.title) + '/' + movie.id]">
          <div class="movie-thumbnail">
            <img *ngIf="movie.poster_path; else defaultMovieImage" [src]="[TMDB_IMAGES_BASE_URL + IMG_300 + movie.poster_path]" [alt]="movie.title" class="movie-img">
            <ng-template #defaultMovieImage>
              <img src="assets/img/default-movie-poster.png" [alt]="movie.title" class="movie-img">
            </ng-template>
          </div>
          <div class="movie-info">
            <div class="movie-info-sub" fxLayout="row" fxLayoutAlign="space-evenly stretch">
              <span class="movie-rating"><mat-icon>star</mat-icon>{{ movie.vote_average / 2 }}</span>
              <div class="favorite">
                  <button mat-icon-button (click)="toggleFavoriteMovie()" class="favorite" matTooltip="Add to Favorites!" [ngClass]="{'active': isFavorited === true}">
                    <mat-icon class="mat-icon material-icons">favorite</mat-icon>
                  </button>
                </div>
            </div>
          </div>
          <h2>{{ movie.title }}</h2>
        </a>
      </mat-card>
    </div>
  </div>
  </section>
</div>

<!-- Page Loader -->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading" class="loader">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>