.loader {
    margin: 1rem 0;
}

#load-more {
    text-align: center;
    margin: 1rem 0;
}

.movie-directory{
    width: 80%;
    margin: auto;
}

.movie-card {
    position: relative;
    max-height: 278px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    background: #000;
}

.movie-card img {
    width: 100%;
}

.movie-info {
    position: absolute;
    opacity: 0;
    width: 100%;
    max-width: 165px;
    bottom: 0;
    padding: 0.4rem 10px;
    text-align: center;
    background: #fff;
    color: #333;
}

.movie-info h3 {
    font-size: 1rem;
    padding: 0 0 0.3rem 0;
    border-bottom: 1px solid #eee;
    margin: 0;
}

h3 span.year {
    font-size: 1rem;
    font-weight: normal;
}

.movie-info-sub {
    margin-top: 0.3rem;
}

.movie-rating {
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

.movie-rating mat-icon {
    font-size: 1rem;
    width: auto;
    height: auto;
    top: 2px;
    position: relative;
    margin-right: 0.3rem;
    color: gold;
    text-shadow: 1px 1px 0px #777;
}

.movie-card:hover .movie-info {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    #page-header h1 {
        font-size: 1.4rem;
    }
    .tab-heading {
        text-transform: lowercase;
    }
    .movies-list {
        padding: 0.1rem;
    }
    .movie-card {
        margin: 0.05rem 0;
    }
}