header {
    padding: 0 5% 0;
    margin: auto;
    background:#222;
    border-color:#080808;
}

#header-container {
    position: relative;
}

#logo,
#menu {
    padding: 0;
    position: relative;
    z-index: 1;
}

#logo h1 {
    line-height: 4rem;
    outline: none;
    cursor: pointer;
}

#mobile-menu-toggler {
    position: absolute;
    top: 17px;
    right: 0;
    z-index: 1;
    cursor: pointer;
    z-index: 3;
}

#mobile-menu-toggler mat-icon {
    font-size: 2rem;
}

.mat-toolbar {
    background: transparent;
}

@media screen and (max-width: 959px) {
    #logo {
        width: 100%;
    }
    #logo h1 {
        font-size: 2rem;
    }
    #menu {
        height: auto !important;
    }
    #mobile-menu-toggler {
        right: 2.5%;
        top: 0.9rem;
    }
}