<header (window:resize)="onResize($event)">
  <mat-toolbar fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" id="header-container" class="mat-primary">
    <!-- Logo -->
    <mat-toolbar-row id="logo" fxFlex.md="30" fxFlex.sm="100" fxFlex.xs="100" fxLayoutAlign.sm="space-around center" fxLayoutAlign.xs="space-around center">
      <h1 routerLink="/">Current Movie Releases</h1>
    </mat-toolbar-row>
    <!-- Menu -->
    <mat-toolbar-row id="menu" fxFlex.md="70" fxFlex.sm="100" fxFlex.xs="100" *ngIf="isMenuOpen">
      <app-primary-menu></app-primary-menu>
    </mat-toolbar-row>
    <!-- Hamburger Menu -->
    <div id="mobile-menu-toggler" (click)="toggleMobileMenu()" *ngIf="isSmallScreen">
      <mat-icon>menu</mat-icon>
    </div>
  </mat-toolbar>

  <app-sidenav></app-sidenav>

</header>