<!-- Jumbotron-->
<div id="jumbotron" class="mat-elevation-z6">
  <div class="container">
    <h1 class="page-title entry-title">{{ pageSeoTitle }}</h1>
    <h2 class="page-description">{{ pageSeoDescr }}</h2>
    <div class="advanced_filters">
      <!-- <label class="filter-label">Sort By:</label> -->
      <!-- Advanced Filtering Form -->
      <form [formGroup]="advancedFilteringForm">
        <mat-form-field class="select-container" *ngIf="sortTypes">
          <mat-select placeholder="Sort Results By" (change)="onSortTypeChange($event.value)">
            <mat-option *ngFor="let sort of sortTypes" [value]="sort.param">{{ sort.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="page-taxonomy-list">
    </div>
    <!-- <div id="breadcrumbs">
      <span xmlns:v="http://rdf.data-vocabulary.org/#">
        <span>Feel free to browse our wide selection of the current releases, and find out what is playing near you right now.
          <a href="#now-playing">Now Playing Movies</a>
        </span>
        <span>
          <a href="#upcoming">Upcoming Movies</a>
        </span>
      </span>
    </div> -->
    <div id="page-header" fxLayout="row">
      <div id="header-left" fxFlex>
        <!-- Upcoming Results Counter -->
        <div id="results-counter">
          <span>Showing:</span>
          <span *ngIf="mainDirectoryCurrentIndex === mainDirectoryTotalPages">{{ mainDirectoryTotalPages }}</span>
          <span *ngIf="mainDirectoryCurrentIndex !== mainDirectoryTotalPages">{{ mainDirectoryCurrentIndex * 20 }}</span> / {{ mainDirectoryTotalResults }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Directory -->
<section *ngIf="!loading" id="now-playing" class="movies-directory-content section">
  <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch" class="wrapper movies-list mat-padding">
    <mat-card *ngFor="let movie of mainDirectoryMovies; let i = index" class="movie-card" tabindex="0">
      <app-movie-card [movie]="movie"></app-movie-card>
    </mat-card>
  </div>
</section>
<div class="loaders wrapper">
  <!-- Loader -->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading" class="loader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <!-- More Loader -->
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loadingMore" class="loader">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <!-- Load More Button -->
  <div id="load-more" *ngIf="!loading && mainDirectoryCurrentIndex !== mainDirectoryTotalPages">
    <button mat-raised-button color="primary" (click)="loadMoreResults(mainDirectoryCurrentIndex + 1)">LOAD MORE...</button>
  </div>
</div>