/* :host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
} */

mat-card {
  max-width: 50%;
  margin: auto;
}

mat-form-field,
button {
  width: 100%;
}

button {
  margin-bottom: 0.5rem;
}
