<!-- Fixed Header -->
<div class="header-fixed">
  <!-- Page Title -->
  <h2 class="page-title">
    <mat-icon (click)="goBack()" matToolTip="Go Back To Previous Page">arrow_back</mat-icon>Edit User
  </h2>
  <div class="buttons">
    <!-- Add / Update Button-->
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <!-- Delete Button -->
    <button mat-raised-button color="warn" (click)="openDeleteDialog()">Delete</button>
  </div>
</div>

<!-- Forms -->
<div fxLayout="column" fxFlex class="form-container">
  <!-- User Details Form Card-->
  <form [formGroup]="userDetailsForm">
    <mat-card>
      <mat-card-title>User Details</mat-card-title>
      <mat-card-content *ngIf="user" class="card-content">
        <div class="form-left">
          <!-- User Image -->
          <img *ngIf="user?.photoURL" [src]="user?.photoURL" [title]="user?.name" [alt]="user?.name" />
          <!-- User Profile Image Upload Button-->
          <input type="file" placeholder="Select File" name="imageFile" (change)="imgFileChange($event)" accept="image/*" #inputFile>
          <ng-container *ngIf="uploadProcessing['user-avatars']">
            <mat-progress-bar color="primary" mode="determinate" [value]="uploadProcessing['user-avatars'].progress"></mat-progress-bar>
          </ng-container>
        </div>
        <div class="form-right">
          <!-- Name -->
          <mat-form-field>
            <input matInput type="text" placeholder="Display Name" formControlName="displayName" [(ngModel)]="user.displayName">
          </mat-form-field>
          <!-- Username -->
          <mat-form-field>
            <input matInput type="text" placeholder="Username" formControlName="username" [(ngModel)]="user.username">
          </mat-form-field>
          <!-- Email -->
          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" [(ngModel)]="user.email">
          </mat-form-field>
          <!-- Gender -->
          <mat-form-field class="select-container">
            <mat-select placeholder="Gender" formControlName="gender" [(ngModel)]="user.gender">
              <mat-option value="female">female</mat-option>
              <mat-option value="male">male</mat-option>
              <mat-option value="other">other</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Age -->
          <mat-form-field>
            <input matInput type="text" placeholder="Age" formControlName="age" [(ngModel)]="user.age">
          </mat-form-field>
          <!-- Phone -->
          <mat-form-field>
            <input matInput type="text" placeholder="Phone" formControlName="phone" [(ngModel)]="user.phone">
          </mat-form-field>
          <!-- Address -->
          <mat-form-field>
            <input matInput type="text" placeholder="Address" [value]="" formControlName="address" [(ngModel)]="user.address">
          </mat-form-field>
          <!-- User Role -->
          <mat-form-field class="select-container">
            <mat-select placeholder="User Role" formControlName="role" [(ngModel)]="user.role">
              <mat-option value="admin">admin</mat-option>
              <mat-option value="artist">artist</mat-option>
              <mat-option value="subscriber">subscriber</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>