/* Nav */

mat-drawer mat-list {
  width: 100%;
}
app-account{
  display: block;
}
section.account-sidebar-container{
  margin-bottom: 10%;
}
#account-nav {
  padding: 0;
  margin: 0;
}

#account-nav li,
#account-nav li button {
  list-style: none;
  text-align: left;
  display: inline-block;
}

#account-nav li button {
  padding: 0.3rem 1.5rem;
  border-radius: 0;
  min-width: 50px;
}

#account-nav li mat-icon {
  font-size: 1.1rem;
  top: 2px;
  position: relative;
}

button.active,
button.active strong {
  background: #c62828;
  color: #fff !important;
  border-radius: 2px;
}

button.active:hover {
  background: #c62828 !important;
  color: #fff !important;
}
