<div id="jumbotron" class="mat-elevation-z6" role="banner">
  <div class="container">
    <h1 class="page-title entry-title">Current Movie Releases</h1>
    <h2 class="page-description">Looking for your next favorite movie? Try the best selection of the <strong>current movie releases</strong> listed in their respective movie genres. You can find the newest movies in Action, Adventure, Drama, Crime, Comedy, Documentary, Horror, Romance, Science Fiction, Western and many more.</h2><p>Feel free to browse our top 10 selection of <em>now playing movies</em> and <em>upcoming movies</em> to find out what is playing near you right now.</p>
    <div class="advanced_filters"></div>
    <div class="page-taxonomy-list">
      <a href="#now-playing" class="mat-raised-button mat-primary">Now Playing</a>
      <a href="#upcoming" class="mat-raised-button mat-primary">Upcoming</a>
    </div>
    <div id="breadcrumbs">
      <span xmlns:v="http://rdf.data-vocabulary.org/#"></span>
    </div>
  </div>
</div>