<div id="jumbotron" class="mat-elevation-z6" role="banner">
  <div class="container">
    <h1 class="page-title entry-title">Current Movie Releases</h1>
    <h2 class="page-description">Looking for your next favorite movie? Try the best selection of the <strong>current movie releases</strong> listed in their respective movie genres. You can find the newest movies in Action, Adventure, Drama, Crime, Comedy, Documentary,Horror, Romance, Science Fiction, Western and many more.</h2>
    <div class="advanced_filters"></div>
    <div class="page-taxonomy-list"></div>
    <div id="breadcrumbs">
      <span xmlns:v="http://rdf.data-vocabulary.org/#">
        <span>Feel free to browse our wide selection of <a href="#now-playing">Now Playing Movies</a> and <a href="#upcoming">Upcoming Movies</a> to find out what is playing near you right now.</span>
      </span>
    </div>
  </div>
</div>