<div id="jumbotron" class="mat-elevation-z6" role="banner">
  <div class="container">
    <h1 class="page-title entry-title">Interested to get the current movie releases?</h1>
    <h2 class="page-description">Welcome to the best selection of recently released
      <a routerLink="/movies/genre/action">Action</a>,
      <a routerLink="/movies/genre/adventure">Adventure</a>,
      <a routerLink="/movies/genre/drama">Drama</a>,
      <a routerLink="/movies/genre/crime">Crime</a>,
      <a routerLink="/movies/genre/comedy">Comedy</a>,
      <a routerLink="/movies/genre/documentary">Documentary</a>,
      <a routerLink="/movies/genre/horror">Horror</a>,
      <a routerLink="/movies/genre/romance">Romance</a>,
      <a routerLink="/movies/genre/science-fiction">Science Fiction</a> and
      <a routerLink="/movies/genre/western">Western movies</a>.</h2>
    <div class="advanced_filters"></div>
    <div class="page-taxonomy-list"></div>
    <div id="breadcrumbs">
      <span xmlns:v="http://rdf.data-vocabulary.org/#">
        <span>Feel free to browse our wide selection of the current releases, and find out what is playing near you right now.
          <a href="#now-playing">Now Playing Movies</a>
        </span>
        <span>
          <a href="#upcoming">Upcoming Movies</a>
        </span>
      </span>
    </div>
  </div>
</div>