<section id="search-form" fxLayout="column" fxFlex="100">
  <!-- Search Inputs Container -->
  <div class="input-container">
    <!-- Search Inputs -->
    <input type="text" name="keyword" [(ngModel)]="keyword" placeholder="Movie Title" aria-label="Movie Title"
      (keyup.enter)="goToSearchPage(keyword)">
    <!-- Search button -->
    <button mat-button (click)="goToSearchPage(keyword)" class="search-btn">
      <mat-icon aria-label="Search">search</mat-icon>
    </button>
  </div>
</section>
