mat-select,
.mat-select-trigger {
  height: 100% !important;
}
.input-container {
  position: relative;
  z-index: 1;
}
.input-container input {
  font-size: 1rem;
  padding-left: 1rem;
  outline: none;
  border: none;
  color: #FFF;
}
.input-container input:focus > {
  background: #000;
}
@media screen and (max-width: 599px) {
  .search-btn {
    min-width: 50px;
  }
  .search-btn mat-icon {
    display: block;
  }
  .search-btn span {
    display: none;
  }
  .select-container {
    width: 150px;
  }
}
