<div id="jumbotron">
  <div class="container">
    <h1 class="page-title entry-title">{{ pageSeoTitle }}</h1>
    <h2 class="page-description">{{ pageSeoDescr }}</h2>
  </div>
  <div *ngIf="popularActors" id="results-counter">Showing:
    <span *ngIf="currentPageIndex === totalPages">{{ totalResults }}</span>
    <span *ngIf="currentPageIndex !== totalPages">{{ currentPageIndex * 20 }}</span> / {{ totalResults }}
  </div>
</div>
<!-- Celebrities -->
<div *ngIf="!loading" class="popular-actors-tab-content wrapper">
  <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch" class="actors-list">
    <mat-card *ngFor="let actor of popularActors" class="actor-card">
      <a (click)="this.as.goToCelebDetails(actor.id)">
        <div>
          <img *ngIf="actor.profile_path; else defaulActorImage" [src]="[TMDB_IMAGES_BASE_URL + IMG_185 + actor.profile_path]" [alt]="actor.name"
            [title]="actor.name" class="actor-img">
          <ng-template #defaultActorImage>
            <img src="assets/img/default-movie-poster.png" [alt]="actor.name" [title]="actor.name" class="actor-img">
          </ng-template>
        </div>
        <div class="actor-info">
          <h3>{{ actor.name }}</h3>
          <div class="actor-rating">Popularity: {{ actor.popularity | number }}</div>
        </div>
      </a>
    </mat-card>
  </div>
</div>

<!-- Loader -->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading" class="loader">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<!-- More Loader -->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="loadingMore" class="loader">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<!-- Load More Button -->
<div id="load-more" *ngIf="!loading && currentPageIndex !== totalPages">
  <button mat-raised-button color="primary" (click)="loadMoreResults(currentPageIndex + 1)">LOAD MORE...</button>
</div>