<!-- Page Title -->
<section id="search-header">
  <h2>Search results for "{{ pageTitle }}"</h2>

  <!-- Results Counter -->
  <div>Showing :
    <span *ngIf="currentPageIndex === totalPages">{{ totalResults }}</span>
    <span *ngIf="currentPageIndex !== totalPages">{{ currentPageIndex * 20 }}</span> / {{ totalResults }}
  </div>
</section>

<!-- Movies -->
<div *ngIf="moviesList">
  <div *ngIf="!loading" class="result-content">
    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch" class="result-list">
      <mat-card *ngFor="let movie of moviesList" class="result-card" [id]="movie.id">
        <app-movie-card [movie]="movie"></app-movie-card>
      </mat-card>
    </div>
  </div>
</div>

<!-- Loader -->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading" class="loader">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<!-- More Loader -->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="loadingMore" class="loader">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<!-- Load More Button -->
<div id="load-more" *ngIf="!loading && currentPageIndex !== totalPages">
  <button mat-raised-button color="primary" (click)="loadMoreResults(currentPageIndex + 1)">LOAD MORE...</button>
</div>

<!-- No Results -->
<div *ngIf="!loading && moviesList?.length < 1">NO RESULTS FOR THIS SEARCH CRITERIA.</div>