<!-- Page Title -->
<section id="search-header">
  <h1>Search results for "{{ pageTitle }}"</h1>

  <!-- Results Counter -->
  <div>Showing :
    <span *ngIf="currentPageIndex === totalPages">{{ totalResults }}</span>
    <span *ngIf="currentPageIndex !== totalPages">{{ currentPageIndex * 20 }}</span> / {{ totalResults }}
  </div>
</section>

<!-- Movies -->
<div *ngIf="moviesList">
  <div *ngIf="!loading" class="result-content">
    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch" class="result-list">
      <mat-card *ngFor="let movie of moviesList" class="result-card">
        <a [routerLink]="['/movies/' + this.as.urlOptimizeText(movie.title)]">
          <!-- Movie Poster -->
          <div>
            <img *ngIf="movie.poster_path; else defaultMovieImage" [src]="[TMDB_IMAGES_BASE_URL + IMG_185 + movie.poster_path]" [alt]="movie.title"
              class="result-img">
            <ng-template #defaultMovieImage>
              <img src="assets/img/default-movie-poster.png" [alt]="movie.title" class="result-img">
            </ng-template>
          </div>
          <!-- Movie Info -->
          <div class="result-info">
            <h3>{{ movie.title }}</h3>
            <div class="movie-info-sub" fxLayout="row" fxLayoutAlign="center center">
              <!-- <span class="genre">{{ this.as.getGenreName(movie.genre_ids[0]) }}</span> -->
              <span class="result-rating">
                <mat-icon>star</mat-icon>{{ movie.vote_average / 2 }}</span>
            </div>
          </div>
        </a>
      </mat-card>
    </div>
  </div>
</div>

<!-- Loader -->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading" class="loader">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<!-- More Loader -->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="loadingMore" class="loader">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<!-- Load More Button -->
<div id="load-more" *ngIf="!loading && currentPageIndex !== totalPages">
  <button mat-raised-button color="primary" (click)="loadMoreResults(currentPageIndex + 1)">LOAD MORE...</button>
</div>

<!-- No Results -->
<div *ngIf="!loading && moviesList?.length < 1">NO RESULTS FOR THIS SEARCH CRITERIA.</div>
