<div class="main-sidenav-container">
    <mat-toolbar class="sidenav-toolbar mat-elevation-z6">
        <button mat-icon-button (click)="sidebar.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <a href="/" aria-label="Current Movie Releases" class="docs-button mat-button" tabindex="0" aria-disabled="false" routerlink="/">
            <span class="mat-button-wrapper">
                <img alt="Looking for your next favorite movie? - Current Movie Releases" class="docs-cmr-logo" src="../assets/img/currentmoviereleases_logo_v2.svg">
                <span class="sidenav-app-name" fxHide.xs="true">Current Movie Releases</span>
            </span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
        </a>
        <app-primary-menu class="header-actions" fxLayoutAlign="end end" fxFlex="100"></app-primary-menu>
    </mat-toolbar>
    <mat-sidenav-container class="view-sidenav-container">
        <mat-sidenav #sidebar mode="over" opened="false" [fixedInViewport]="true">
            <mat-nav-list role="list">
                <app-sidenav></app-sidenav>
            </mat-nav-list>
            <mat-nav-list class="sidenav-footer border-top-grey">
                <mat-list-item role="listitem" tabindex="0" (click)="sidebar.toggle()">
                    <mat-icon class="mat-icon material-icons">chevron_left</mat-icon>
                    <span>Close Sidebar</span>
                </mat-list-item>
            </mat-nav-list>
            <div class="version border-top-grey">
                <em>CMR - App version 0.1 | 2018</em>
            </div>
        </mat-sidenav>
        <mat-sidenav-content class="dashboard-container">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>