mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #222;
  min-width: 200px;
}
mat-drawer-container .mat-tab-body-wrapper {
  padding: 0 2rem;
}
mat-drawer-container .mat-tab-labels{
  background: #333;
}
