mat-drawer-container {
  height: 100%;
  color: #999;
}
mat-drawer {
  background: #222;
  min-width: 200px;
}
mat-drawer-content.admin-container{
  padding: 0 2rem;
}
.mat-tab-label{
  color: #999 !important;
}