/* .sidenav-button { 
    position: fixed;
    position: sticky;
    left: 1rem;
    top: 1.2rem;
    z-index: 3;
    background: transparent;
    border: 0;
    cursor: pointer;
    background: #fff;
}*/

mat-drawer-content {
  padding: 0 4.3rem;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #222;
}
