<div id="dialog-content" fxLayout="column">
  <section id="search-form" fxLayout="row">
    <!-- Search Inputs Container -->
    <div class="input-container" fxFlex>
      <!-- Search Inputs -->
      <input type="text" name="keyword" placeholder="Search for Movies to write Article for" (keyup.enter)="searchForMovie(keyword.value)"
        fxFlex #keyword>
      <!-- Search button -->
      <button mat-raised-button color="primary" (click)="searchForMovie(keyword.value)" class="search-btn">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </section>

  <div *ngIf="searchMovieResults && searchMovieResults?.length > 0" fxLayout="column" fxFlex class="results-content">
    <!-- Movies Search Field -->
    <!-- <mat-form-field class="movie-search">
    <input matInput (keyup)="applyMovieFilter($event.target.value)" placeholder="Filter Movie Results">
  </mat-form-field> -->
    <!-- Articles Table -->
    <mat-table #movieResultsTable [dataSource]="movieResultslesDataSource" matSort class="movies-table">
      <!-- Movie Poster -->
      <ng-container matColumnDef="movie-poster">
        <mat-header-cell *matHeaderCellDef> Poster </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img *ngIf="element?.poster_path; else defaultMovieImage" class="movie-img" [src]="[TMDB_IMAGES_BASE_URL + IMG_45 + element?.poster_path]"
            [alt]="[element?.title]" [title]="[element?.title]">
          <ng-template #defaultMovieImage>
            <img class="movie-img" src="assets/img/default-movie-poster.png" [alt]="[element?.title]" [title]="[element?.title]">
          </ng-template>
        </mat-cell>
      </ng-container>
      <!-- Movie Title -->
      <ng-container matColumnDef="movie-title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Movie Title </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element?.title }}
        </mat-cell>
      </ng-container>
      <!-- Release Date -->
      <ng-container matColumnDef="release-date" mat-sort-header>
        <mat-header-cell *matHeaderCellDef> Release Date</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.release_date | date: 'y' }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedSearchMovieResultColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedSearchMovieResultColumns;" (click)="selectMovie(row.id, row.title)"></mat-row>
    </mat-table>
    <!-- Paginator -->
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator> -->
    <!-- No Results -->
    <div *ngIf="!searchMovieResults?.length" fxLayour="column" fxLayoutAlign="center center">No Results Found!</div>
  </div>
</div>

<!-- Loader -->
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoading" class="loader">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>