section#movie-details div{
    margin: 5px;
}
h1{
    margin: 0;
    text-shadow: 1px 1px 1px #000;
}
.content-head{
    position: relative;
}
.mat-tab-group, .mat-tab-header{
    width: 100%;
    margin: 0;
}
.mat-tab-body-wrapper{
    padding: 1% 2%;
}
#articles .article-inner{
    font-size: 80%;
    background: rgba(0, 0, 0, 0.25);
    padding: 2.5rem 1rem 0.5rem 1rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.49) 0px 5px 10px inset;
    margin-top: 0;
    position: relative;
}
#articles .section-header {
    margin-bottom: 0;
    background: rgba(164, 45, 45, 0.52);
    display: block;
    padding: 1px 1rem;
}
.article-data {
    padding: 0.5rem 9% 0.5rem 1rem;
    background: rgba(148, 46, 46, 0.42);
    position: absolute;
    width: 90%;
    top: 0px;
    left: 0;
    font-size: 80%;
    vertical-align: middle;
    box-sizing: content-box;
}
.post-date.updated mat-icon.mat-icon.material-icons {
    font-size: 150%;
    height: auto;
}
/*Jumbotron*/
#jumbotron.moviebg{
    z-index: -1;
    box-shadow: rgb(0, 0, 0) 0px -50px 100px inset;
    filter: grayscale(70%);
    position: absolute;
    width: 100%;
    padding: 13rem 0;
    display: block;
}
/*Jumbotron END*/
#movie-content-info{
    background: rgba(0, 0, 0, 0.60);
    border-radius: 3px;
    position: relative;
    padding: 0 1%;
    text-shadow: 1px 1px 1px #000;
}
.movie-poster-image{
    max-width: 100%;
    min-width: 100%;
    border: 1.6px solid rgba(0, 0, 0, 0.2);
    padding: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: inline-block;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    z-index: -1;
    box-sizing: border-box;
}
span#year.detail-release-date, span#status.detail-pg-rating, span#genres.detail-genre, span#duration.detail-runtime, span#prod-comp.detail-prod-comp, span#cast.detail-castcrew, span#crew.detail-castcrew, span#crew1.detail-castcrew, span#prod-comp, #movie-tagline span, span#movie-tagline{
    margin: 5px 0;
    font-size: 85%;
}
.advert-widget{
    background: #000;
    border-radius: 3px;
    padding: 5px 15px;
}
#user-actions{
    position: absolute;
    bottom: 8px;
}
img.person-img{
    max-width: inherit;
    min-width: inherit;
}
.mat-card-image{
    display: block;
    max-height: auto !important;
    height: auto !important;
}
#similar-movies mat-card-title{
    max-width: 145px !important;
    overflow: hidden;
}
mat-icon.rating{
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.6);
    font-size: 1.8rem;
}
.rating-number{
    vertical-align: text-top !important;
}
@media (max-width: 1100px) {
    #user-actions{
        position: inherit;
        margin-top: 30px !important;
    }
}