div{
    margin: 5px;
}
h1{
    margin: 0;
    text-shadow: 1px 1px 1px #000;
}
.content-head{
    position: relative;
}
.mat-tab-group, .mat-tab-header{
    width: 100%;
    margin: 0;
}
.mat-tab-body-wrapper{
    padding: 1% 5%;
}
#articles{
    font-size: 80%;
}
#jumbotron.moviebg{
    z-index: -1;
    box-shadow: rgb(0, 0, 0) 0px -50px 100px inset;
    filter: grayscale(70%);
    position: absolute;
    width: 100%;
    padding: 13rem 0;
    display: block;
}
.wrapper{
    max-width: 1220px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    z-index: 9;
}
#movie-content-info{
    background: rgba(0, 0, 0, 0.60);
    border-radius: 3px;
    position: relative;
    padding: 0 1%;
    text-shadow: 1px 1px 1px #000;
}
.movie-poster-image{
    max-width: 100%;
    min-width: 100%;
    border: 1.6px solid rgba(0, 0, 0, 0.2);
    padding: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: inline-block;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    z-index: -1;
    box-sizing: border-box;
}
span#year.detail-release-date, span#status.detail-pg-rating, span#genres.detail-genre, span#duration.detail-runtime, span#prod-comp.detail-prod-comp, span#cast.detail-castcrew{
    display: block;
    margin: 5px 0;
}
.advert-widget{
    background: #000;
    border-radius: 3px;
    padding: 5px 15px;
}
#user-actions{
    position: absolute;
    bottom: 8px;
}
img.person-img{
    max-width: inherit;
    min-width: inherit;
}
.mat-card-image{
    display: block;
    max-height: auto !important;
    height: auto !important;
}
#similar-movies mat-card-title{
    max-width: 145px !important;
    overflow: hidden;
}
@media (max-width: 1100px) {
    #user-actions{
        position: inherit;
        margin-top: 30px;
    }
}