div{
    border: 1px solid #000;
}
h1{
    margin: 0;
}
.content-head{
    position: relative;
}
img{
    max-width: 100%;
}
.mat-tab-group, .mat-tab-header{
    width: 100%;
    margin: 0;
}
.movie-content-cast{
   width: 100%;
   display: block;
}
.mat-tab-body-wrapper{
    padding: 1% 5%;
}
#movie-rating span{
    font-size: 80%;
}
.movie-content-poster{
    padding: 0 5%;
}
#articles{
    font-size: 80%;
}