<div id="jumbotron" role="banner" class="moviebg mat-elevation-z6" *ngIf="movieDetails?.backdrop_path" [style.background-image]="'url(' + TMDB_IMAGES_BASE_URL + IMG_ORIG + movieDetails.backdrop_path + ')'"></div>
<!-- Movie Details & Posters -->
<div class="wrapper margin" *ngIf="movieDetails" [id]="movieDetails.id">
  <!-- Movie Details -->
  <section id="movie-details" class="section margin padding border" role="main" itemscope itemtype="http://schema.org/Movie">
    <div id="movie-content-head" role="contentinfo" fxLayout="column" fxLayout.xs="column">
      <!-- Movie Title -->
      <h1 id="movie-title" itemprop="name">{{ movieDetails.title }}
        <span class="title-year" id="year" *ngIf="movieDetails.release_date">({{ movieDetails.release_date | date:'y' }})</span>
      </h1>
    </div>
    <div id="movie-content-main" fxLayout="row" fxLayout.xs="column">
      <!-- Movie Poster Image -->
      <div id="movie-poster" fxFlex="20" fxFlex.sm="20%" fxFlex.xs="20%" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <img itemprop="contentUrl url" role="img" *ngIf="movieDetails.poster_path;" class="movie-poster-image"
          [src]="[TMDB_IMAGES_BASE_URL + IMG_500 + movieDetails.poster_path]" onError="this.src='assets/img/default-movie-poster.png';"
          [alt]="'Official Movie Poster of ' + movieDetails.title + ' -  &copy; by | Current Movie Releases'" [title]="'Official Movie Poster of ' + movieDetails.title + ' -  &copy; by | Current Movie Releases'"
        />
      </div>
      <div id="movie-content-info" fxFlex="80" fxFlex.sm="80%" fxFlex.xs="80%">
        <!-- Movie Rating -->
        <div id="movie-rating" fxLayout="row" fxLayout.xs="column">
          <!-- Rating Results-->
          <div id="rating-result" fxFlex="18" fxLayout="row" fxLayout.xs="column" fxFlex.sm="18" fxFlex.xs="18">
            <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
              <mat-icon class="active rating">star</mat-icon>
              <span class="rating-number" itemprop="ratingValue">{{ cobinedRatingAverage | number: '1.2-2' }}</span>
              <span class="total-rating" itemprop="bestRating"> /5</span>
              <span id="total-votes">(
                <span itemprop="ratingCount">{{ movieDetails.vote_count + fbRatingsLength }}</span> votes)</span>
            </span>
          </div>
          <!-- Average Rating -->
          <div id="average-rating" class="rating">
            <span *ngIf="currentUserRating === 0">
              <mat-icon (click)="rateMovie(1)" *ngIf="cobinedRatingAverage < 0.25" tabindex="0">star_border</mat-icon>
              <mat-icon [ngClass]="{'active rating' : cobinedRatingAverage >= 0.25 && cobinedRatingAverage  < 0.75}" (click)="rateMovie(1)"
                *ngIf="cobinedRatingAverage > 0.25 && cobinedRatingAverage  < 0.75" tabindex="0">star_half</mat-icon>
              <mat-icon [ngClass]="{'active rating' : cobinedRatingAverage  >= 0.75}" (click)="rateMovie(1)" *ngIf="!(cobinedRatingAverage  < 0.75)"
                tabindex="0">star</mat-icon>
              <mat-icon (click)="rateMovie(2)" *ngIf="cobinedRatingAverage < 1.25" tabindex="0">star_border</mat-icon>
              <mat-icon [ngClass]="{'active rating' : cobinedRatingAverage  >= 1.25 && cobinedRatingAverage  < 1.75}" (click)="rateMovie(2)"
                *ngIf="cobinedRatingAverage >= 1.25 && cobinedRatingAverage  < 1.75" tabindex="0">star_half</mat-icon>
              <mat-icon [ngClass]="{'active rating' : cobinedRatingAverage  >= 1.75}" (click)="rateMovie(2)" *ngIf="!(cobinedRatingAverage  < 1.75)"
                tabindex="0">star</mat-icon>
              <mat-icon (click)="rateMovie(3)" *ngIf="cobinedRatingAverage < 2.25" tabindex="0">star_border</mat-icon>
              <mat-icon [ngClass]="{'active rating' : cobinedRatingAverage  >= 2.25 && cobinedRatingAverage  < 2.75}" (click)="rateMovie(3)"
                *ngIf="cobinedRatingAverage >= 2.25 && cobinedRatingAverage  < 2.75" tabindex="0">star_half</mat-icon>
              <mat-icon [ngClass]="{'active rating' : cobinedRatingAverage  >= 2.75}" (click)="rateMovie(3)" *ngIf="!(cobinedRatingAverage  < 2.75)"
                tabindex="0">star</mat-icon>
              <mat-icon (click)="rateMovie(4)" *ngIf="cobinedRatingAverage < 3.25" tabindex="0">star_border</mat-icon>
              <mat-icon [ngClass]="{'active rating' : cobinedRatingAverage  >= 3.25 && cobinedRatingAverage  < 3.75}" (click)="rateMovie(4)"
                *ngIf="cobinedRatingAverage >= 3.25 && cobinedRatingAverage  < 3.75" tabindex="0">star_half</mat-icon>
              <mat-icon [ngClass]="{'active rating' : cobinedRatingAverage  >= 3.75}" (click)="rateMovie(4)" *ngIf="!(cobinedRatingAverage  < 3.75)">star</mat-icon>
              <mat-icon (click)="rateMovie(5)" *ngIf="cobinedRatingAverage < 4.25" tabindex="0">star_border</mat-icon>
              <mat-icon [ngClass]="{'active rating' : cobinedRatingAverage  >= 4.25 && cobinedRatingAverage  < 4.75}" (click)="rateMovie(5)"
                *ngIf="cobinedRatingAverage >= 4.25 && cobinedRatingAverage  < 4.75" tabindex="0">star_half</mat-icon>
              <mat-icon [ngClass]="{'active rating' : cobinedRatingAverage  >= 4.75}" (click)="rateMovie(5)" *ngIf="!(cobinedRatingAverage  < 4.75)"
                tabindex="0">star</mat-icon>
              <span class="rating-number">What do you think?</span>
            </span>
          </div>
          <!-- User Rating -->
          <div id="user-rating" class="rating">
            <span *ngIf="currentUserRating !== 0">
              <mat-icon (click)="rateMovie(1)" *ngIf="currentUserRating < 0.25" tabindex="0">star_border</mat-icon>
              <mat-icon [ngClass]="{'active rating' : currentUserRating >= 0.25 && currentUserRating  < 0.75}" (click)="rateMovie(1)" *ngIf="currentUserRating > 0.25 && currentUserRating  < 0.75"
                tabindex="0">star_half</mat-icon>
              <mat-icon [ngClass]="{'active rating' : currentUserRating  >= 0.75}" (click)="rateMovie(1)" *ngIf="!(currentUserRating  < 0.75)"
                tabindex="0">star</mat-icon>
              <mat-icon (click)="rateMovie(2)" *ngIf="currentUserRating < 1.25" tabindex="0">star_border</mat-icon>
              <mat-icon [ngClass]="{'active' : currentUserRating  >= 1.25 && currentUserRating  < 1.75}" (click)="rateMovie(2)" *ngIf="currentUserRating >= 1.25 && currentUserRating  < 1.75"
                tabindex="0">star_half</mat-icon>
              <mat-icon [ngClass]="{'active rating' : currentUserRating  >= 1.75}" (click)="rateMovie(2)" *ngIf="!(currentUserRating  < 1.75)"
                tabindex="0">star</mat-icon>
              <mat-icon (click)="rateMovie(3)" *ngIf="currentUserRating < 2.25" tabindex="0">star_border</mat-icon>
              <mat-icon [ngClass]="{'active rating' : currentUserRating  >= 2.25 && currentUserRating  < 2.75}" (click)="rateMovie(3)"
                *ngIf="currentUserRating >= 2.25 && currentUserRating  < 2.75" tabindex="0">star_half</mat-icon>
              <mat-icon [ngClass]="{'active rating' : currentUserRating  >= 2.75}" (click)="rateMovie(3)" *ngIf="!(currentUserRating  < 2.75)"
                tabindex="0">star</mat-icon>
              <mat-icon (click)="rateMovie(4)" *ngIf="currentUserRating < 3.25" tabindex="0">star_border</mat-icon>
              <mat-icon [ngClass]="{'active rating' : currentUserRating  >= 3.25 && currentUserRating  < 3.75}" (click)="rateMovie(4)"
                *ngIf="currentUserRating >= 3.25 && currentUserRating  < 3.75" tabindex="0">star_half</mat-icon>
              <mat-icon [ngClass]="{'active rating' : currentUserRating  >= 3.75}" (click)="rateMovie(4)" *ngIf="!(currentUserRating  < 3.75)"
                tabindex="0">star</mat-icon>
              <mat-icon (click)="rateMovie(5)" *ngIf="currentUserRating < 4.25" tabindex="0">star_border</mat-icon>
              <mat-icon [ngClass]="{'active rating' : currentUserRating  >= 4.25 && currentUserRating  < 4.75}" (click)="rateMovie(5)"
                *ngIf="currentUserRating >= 4.25 && currentUserRating  < 4.75" tabindex="0">star_half</mat-icon>
              <mat-icon [ngClass]="{'active rating' : currentUserRating  >= 4.75}" (click)="rateMovie(5)" *ngIf="!(currentUserRating  < 4.75)"
                tabindex="0">star</mat-icon>
              <span class="rating-number">Your Rating</span>
              <span class="total-rating">
                <a routerLink="/my-account/ratings" href="/my-account/ratings">(My Ratings)</a>
              </span>
            </span>
          </div>
        </div>
        <!-- Movie Details -->
        <div id="movie-tech-details" fxLayoutWrap="wrap" fxLayout="column" fxLayout.xs="column">
          <span id="movie-tagline" *ngIf="movieDetails.tagline">Movie Tagline:
            <span>{{ movieDetails.tagline }}</span>
          </span>
          <span id="year" class="detail-release-date" *ngIf="movieDetails.release_date">Release Date:
            <span itemprop="datePublished" datetime="movieDetails.release_date">{{ movieDetails.release_date | date:'longDate' }}</span>
          </span>
          <span id="status" class="detail-pg-rating">Movie Status:
            <span>{{ movieDetails.status }}</span>
          </span>
          <span id="genres" class="detail-genre">Genres:
            <span *ngFor="let genre of movieDetails.genres; let i = index">
              <span>
                <a (click)="this.as.goToMovieGenresPage(genre.name)" class="genre-link">{{ genre.name }}</a>
              </span>
            </span>
          </span>
          <span id="duration" class="detail-runtime" *ngIf="movieDetails.runtime > 0">Runtime:
            <span *ngIf="movieDetails.runtime > 60">{{ this.Math.floor(movieDetails.runtime / 60) }} hrs.</span>
            <span *ngIf="movieDetails.runtime > 0">{{ this.Math.floor(movieDetails.runtime % 60) }} mins.</span>
          </span>
          <span id="prod-comp">Production Companies:
            <span *ngFor="let company of movieDetails.production_companies; let i = index" itemprop="productionCompany" itemscope itemtype="http://schema.org/Organization">
              <span itemprop="name" class="company-link">{{ company.name }}</span>
              <span *ngIf="i < movieDetails.production_companies?.length - 1">,</span>
            </span>
          </span>
          <span id="cast" class="detail-castcrew">Actors:
            <span *ngFor="let person of movieCreditsCast; let i = index" itemprop="actor" itemscope itemtype="http://schema.org/Person">
              <a itemprop="name" class="person-link" title="{{ person.name }} as {{ person.character }}" (click)="this.as.goToCelebDetails(person.id)">{{ person.name }}</a>
              <span *ngIf="i < movieCreditsCast?.length - 1">,</span>
            </span>
          </span>
          <span id="crew" *ngIf="movieCreditsCrew?.length" class="detail-castcrew">Directors:
            <span *ngFor="let person of movieCreditsCrew | slice:0:1" itemprop="director" itemscope itemtype="http://schema.org/Person">
              <a itemprop="name" *ngIf="person.job==='Director'" title="{{ person.name }} as {{ person.job }}" (click)="this.as.goToCelebDetails(person.id)">{{ person.name }}</a>
            </span>
          </span>
          <span id="crew1" *ngIf="movieCreditsCrew?.length" class="detail-castcrew">Producers:
            <span *ngFor="let person of movieCreditsCrew | slice:0:3" itemprop="author" itemscope itemtype="http://schema.org/Person">
              <a itemprop="name" *ngIf="person.job==='Producer'" title="{{ person.name }} as {{ person.job }}" (click)="this.as.goToCelebDetails(person.id)">{{ person.name }}</a>
            </span>
          </span>
        </div>
        <!-- User Action Buttons -->
        <div id="user-actions" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between none" fxLayoutGap="5px">
          <button *ngIf="movieTrailersLength > 0" mat-raised-button color="primary" (click)="openTrailersDialog()" class="watch-trailer">
            <mat-icon>play_circle_outline</mat-icon>
            <span fxHide.sm="true" fxHide.xs="false">Watch Trailer</span>
            <span *ngIf="movieTrailers?.length > 1">({{ movieTrailers.length }})</span>
          </button>
          <!-- Favorite Button -->
          <button mat-button (click)="toggleFavoriteMovie()" class="favorite" matTooltip="Add to Favorites!">
            <mat-icon [ngClass]="{'active': isFavorited === true}">favorite</mat-icon>
            <span *ngIf="isFavorited === true" fxHide.sm="true" fxHide.xs="false">In My List</span>
            <span *ngIf="isFavorited === false" fxHide.sm="true" fxHide.xs="false">Add to Favorites</span>
          </button>
          <!-- <button mat-raised-button color="accent" (click)="buyTickets()" class="ticket-btn">
            <mat-icon>local_movies</mat-icon>
            <span fxHide.sm="true" fxHide.xs="true">Buy Ticket</span>
          </button> -->
          <button mat-raised-button (click)="toggleShare()" class="fb-xfbml-parse-ignore share-btn">
            <mat-icon>share</mat-icon>
          </button>
          <div *ngIf="isShareOpen">
            <div class="fb-share-button" data-layout="button_count" data-size="small" data-mobile-iframe="false">
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="movie-overview" fxLayout="row" fxLayout.xs="column">
      <div class="section-header">
        <div class="section-description">
          <h2 class="section-title">Movie Overview</h2>
          <p itemprop="description">{{ movieDetails.overview }}</p>
        </div>
      </div>
      <div id="single-ad-widget1" class="advert-widget">
        <app-adsense-widgets [slotId]="8145249147"></app-adsense-widgets>
      </div>
    </div>
    <div id="movie-content-cast">
      <mat-tab-group id="movie-content-details" (selectChange)="onInfoTabChange($event)" [selectedIndex]="currentInfoTab" mat-stretch-tabs="true">
        <mat-tab label="Cast ({{ movieCreditsCast?.length }})">
          <ng-template mat-tab-label>
            <h3 class="tab-heading">Cast ({{ movieCreditsCast?.length }})</h3>
          </ng-template>
          <div class="cast-tab-content" *ngIf="movieCreditsCast?.length > 0" fxLayout="column">
            <div class="tab-header" fxLayout="column">
              <mat-form-field class="tab-search">
                <input matInput (keyup)="applyCastFilter($event.target.value)" placeholder="Search for Cast">
              </mat-form-field>
            </div>
            <mat-table #castTable [dataSource]="castSource" matSort class="cast-crew-table">
              <!-- Image Column -->
              <ng-container matColumnDef="actorImg">
                <mat-header-cell *matHeaderCellDef> Picture </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a (click)="this.as.goToCelebDetails(element.id)">
                    <img *ngIf="element?.profile_path; else defaultCastImage" class="person-img" [src]="[TMDB_IMAGES_BASE_URL + IMG_45 + element?.profile_path]"
                      [alt]="[element?.name + ' alias ' + element?.character]" [title]="[element?.name + ' alias ' + element?.character]">
                  </a>
                  <ng-template #defaultCastImage>
                    <a (click)="this.as.goToCelebDetails(element.id)">
                      <img class="person-img" src="assets/img/default-movie-poster.png" [alt]="[element?.name + ' alias ' + element?.character]"
                        [title]="[element?.name + ' alias ' + element?.character]">
                    </a>
                  </ng-template>
                </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="actorName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Actor Name </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a (click)="this.as.goToCelebDetails(element?.id)">{{ element?.name }}</a>
                </mat-cell>
              </ng-container>
              <!-- Character Column -->
              <ng-container matColumnDef="character">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Character </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element?.character }} </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="castColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: castColumns;"></mat-row>
            </mat-table>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" [length]="movieCreditsCast?.length"></mat-paginator> -->
          </div>
        </mat-tab>
        <mat-tab label="Technical Details">
          <ng-template mat-tab-label>
            <h3 class="tab-heading">Technical Details</h3>
          </ng-template>
          <div class="mat-tab-body-wrapper">
            <!-- More Info loader -->
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoadingInfo" class="loader">
              <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
            <div class="more-info">
              <!-- More Info Content-->
              <p *ngIf="movieAltTitles?.length && !isLoadingInfo">Alternative Titles:
                <span *ngFor="let altTitle of movieAltTitles; let i = index">
                  {{ altTitle.title }}
                  <span *ngIf="i < movieAltTitles?.length - 1">,</span>
                </span>
              </p>
              <p *ngIf="movieDetails.budget !== 0 && !isLoadingInfo">Budget: {{ movieDetails.budget | number: '1.0-0' }} USD</p>
              <p *ngIf="movieDetails.revenue !== 0 && !isLoadingInfo">Revenue: {{ movieDetails.revenue | number: '1.0-0' }} USD</p>
              <p *ngIf="movieDetails.spoken_languages?.length && !isLoadingInfo">Movie Languages:
                <span *ngFor="let lang of movieDetails.spoken_languages; let i = index">
                  {{ lang.name }}
                  <span *ngIf="i < movieDetails.spoken_languages?.length - 1">,</span>
                </span>
              </p>
              <p *ngIf="movieTranslations?.length && !isLoadingInfo">Translations:
                <span *ngFor="let translation of movieTranslations; let i = index">
                  {{ translation.name }}
                  <span *ngIf="i < movieTranslations?.length - 1">,</span>
                </span>
              </p>
              <p *ngIf="movieDetails.homepage && !isLoadingInfo">Homepage:
                <a [href]="movieDetails.homepage" target="_blank">{{ movieDetails.homepage }}</a>
              </p>
              <div *ngIf="movieLinks && !isLoadingInfo" id="movie-links">
                <div *ngIf="movieLinks.facebook_id">facebook: {{ movieLinks.facebook_id }}</div>
                <div *ngIf="movieLinks.imdb_id">imdb: {{ movieLinks.imdb_id }}</div>
                <div *ngIf="movieLinks.instagram_id">instagram: {{ movieLinks.instagram_id }}</div>
                <div *ngIf="movieLinks.twitter_id">twitter: {{ movieLinks.twitter_id }}</div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
  <section *ngIf="movieArticles?.length" id="articles" class="section border" role="article">
    <div class="section-header">
      <div class="section-description">
        <h2 class="section-title">
          <mat-icon class="mat-icon material-icons">note_add</mat-icon> Movie Review</h2>
      </div>
    </div>
    <article class="article" role="article" *ngFor="let article of movieArticles" itemscope itemtype="http://schema.org/Article">
      <div class="article-inner" *ngIf="article.article_status === 'public'">
        <div class="article-data">
          <span class="post-date updated">
            <mat-icon class="mat-icon material-icons">face</mat-icon>Review added on:
            <span itemprop="datePublished" datetime="article.article_date">{{ article.article_date | date: 'long' }}</span> by:
            <span class="vcard author post-author author_name">
              <span class="fn">
                <a href="https://plus.google.com/+Currentmoviereleases" rel="author" target="_blank" itemprop="author"> +Currentmoviereleases</a>
              </span>
            </span>
          </span>
        </div>
        <div class="article-subtitle">
          <h3 itemprop="name">{{ article.article_title }}</h3>
        </div>
        <div class="article-content" [innerHTML]="article?.article_content | safe: 'html'"></div>
      </div>
    </article>
  </section>
  <!-- <section id="merchandising" *ngIf="merchandise?.length" class="section">
    <div class="section-header">
      <div class="section-description">
        <h3 class="section-title">{{ movieDetails.title }} - Merchandising</h3>
      </div>
    </div>
    <div class="merchan-list border">
      <span id="merchandise"></span>
    </div>
  </section> -->
  <section id="similar-movies" class="section margin padding similar-movies-container" label="Similar Movies" *ngIf="!loading">
    <div class="section-header">
      <div class="section-description">
        <h3 class="section-title">Similar Movies - Our Recommendations</h3>
        <p>The movie recommendations related to
          <em>{{ movieDetails.title }}</em>. List provided with a combination of the related keywords and genres of the current
          movie.
        </p>
      </div>
    </div>
    <div class="movies-list" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
      <mat-card *ngFor="let movie of similarMovies; let i = index" class="movie-card" tabindex="0">
        <app-movie-card [movie]="movie"></app-movie-card>
      </mat-card>
    </div>
    <div id="single-ad-widget2" class="advert-widget">
      <app-adsense-widgets [slotId]="7054872218"></app-adsense-widgets>
    </div>
  </section>
  <!-- Release Dates -->
  <!-- <section id="release-dates" class="section">
    <mat-card label="Release Dates" id="release-dates">
      <div class="release-dates">
        <mat-table #table [dataSource]="releaseDatesSource" matSort>
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.release_dates[0].release_date | date}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="certification">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Certification </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.release_dates[0].certification}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.iso_3166_1 }} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="releaseDatesColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: releaseDatesColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-card>
  </section> -->
</div>