html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, Lucida Grande, sans-serif;
    height: 100%;
    width: 100%;
    background: #1f1f1f;
    font-weight: 300;
}
mat-sidenav-content{
    scroll-behavior: auto;
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
*:hover{
    transition: all 0.2s ease-in-out;
}
a{
    color: #FFF;
    cursor: pointer;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}
/*Default styling elements */
.border-top-grey{
    border-top: 1px solid rgba(48, 48, 48, 0.50);
}
.page-title.entry-title {
    font-size: 150%;
    text-shadow: 1px 1px 1px #000;
}
app-home .page-title.entry-title{
    font-size: 200%;
}
.page-description {
    font-size: 100%;
    text-shadow: 1px 1px 1px #000;
}
/*Default styling elements END*/
.section-details .view-all{
    text-align: right;
}
.result-counter, .section-details{
    color: #999;
    font-size: 0.8em;
}
div#results-counter {
    font-size: 80%;
    color: #CCC;
    margin-top: 10px;
}
.mat-list-item.active{
    background: rgba(255, 255, 255, 0.04);
}
mat-list-item span{
    margin: 0 10px;
    display: inline-block;
    font-size: 80%;
    width: 110px;
}
/*App Wrapper*/
app-main-movies-directory, app-movies, app-genres, app-search, app-privacy, app-terms, app-buying, app-sitemap, app-about, app-celebs{
    display: block;
    padding: 1rem;
}
.mat-sidenav-content a:hover, .mat-sidenav-content a:focus, .mat-sidenav-content a:active{
    color: #c62828;
}
.mat-sidenav{
    background-color: #121212 !important;
    margin-top: 56px;
}
.mat-sidenav a:hover, .mat-sidenav a:focus, .mat-sidenav a:active, a.mat-raised-button:hover{
    color: #FFF;
}
.sidenav-footer{
    padding: 0 !important;
}
.mat-drawer-container{
    overflow-y: auto !important;
}
.wrapper{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    z-index: 9;
    white-space: normal;
    word-wrap: break-word;
}
.wrapper.margin{
    margin-top: 5%;
}
.border{
    border-bottom: 1px solid rgba(48, 48, 48, 0.50);
}
/*Header*/
#header #main-search {
    position: fixed;
    top: 64px;
    z-index: 999;
    width: 100%;
    visibility: hidden;
}
#header #main-search .mat-form-field-infix{
    background: #212121;
}
#header #main-search button.search-btn.mat-button {
    position: absolute;
    z-index: 9;
    bottom: 25px;
    height: 35px;
    text-align: center;
}
/*Section*/
.section.margin.padding{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.section.padding{
    padding-bottom: 2rem;
}
app-movies .section{
    padding-bottom: 0;
    margin-bottom: 0;
}
.section-header, .section-sidebar {
    margin-bottom: 5px;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.15);
}
/* .section-header{
    padding: 0rem 0.2rem 1rem;
} */
app-home .section-header{
    padding-top: 0;
}
.section-header.wrapper p{
    margin-top: 0;
}
.section-title{
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 110%;
}
.section-title mat-icon{
    vertical-align: bottom;
}
.section-sidebar{
    font-size: 90%;
}
.rightsidenav ul, .rightsidenav ol{
    padding-left: 3%;
    margin-bottom: 10px;
}
.rightsidenav ul li, .rightsidenav ol li{
    list-style: none;
}
.rightsidenav ul li a{
    text-decoration: none;
}
/*App Wrapper END*/
/*Section END*/
/*Not found*/
app-page-not-found {
    text-align: center;
    display: block;
}
/*Adverts*/
.adsbygoogle{
    display: inline-block;
}
#advert-widget-300 {
    min-width: 310px;
    max-height: 260px;
}
#advert-widget-300 .adsbygoogle{
    width: 300px;
    height: 250px;
}
#advert-widget-400{
    min-width: 300px;
    max-height: 250px;
}
#advert-widget-400 .adsbygoogle{
    height: 90px;
}
#advert-widget-full {
    max-width: 100%;
    display: block;
    width: 97%;
    padding-top: 8px;
}
#advert-widget-full .adsbygoogle{
    width: 728px;
    height: 90px;
}
.advert-widget{
    background: rgba(0, 0, 0, 0.15);
    padding: 5px;
    overflow: hidden;
    text-align: center;
}
/*Adverts END*/
/*Material Cards*/
mat-card{
    margin-bottom: 20px;
    padding: 10px !important;
    background: rgba(0, 0, 0, 0.15) !important;
    border: 1px solid rgba(0, 0, 0, 0.15);
    filter: grayscale(20%);
    box-sizing: content-box;
    position: relative;
}
mat-card:hover{
    -webkit-box-shadow: 0px 12px 19px -7px #000;
    box-shadow: 0px 12px 19px -7px #000;
    background: rgba(0, 0, 0, 0.66) !important;
    filter: grayscale(0%);
}
app-home mat-card, app-movies mat-card, app-main-movies-directory mat-card, #similar-movies mat-card, app-genres mat-card, app-search mat-card{
    max-width: 185px;
}
.mat-card-header-text{
    margin: 0 !important;
    width: 100%;
}
mat-card-title{
    white-space: pre-line;
    word-wrap: break-word;
    display: inline-flex !important;
    max-height: 1.2em;
    overflow: hidden;
}
mat-card-title h2{
    margin: 0;
    font-size: 1em;
}
mat-card-title h2 a{
    text-decoration: none;
}
.mat-card-subtitle{
    border-top: 1px solid rgba(48, 48, 48, 0.50);
    padding-top: 5px;
    margin-bottom: 6px !important;
}
.mat-card-subtitle h4{
    margin: 0;
}
.short-story{
    margin-bottom: 0;
}
.mat-card-content p, .mat-card-subtitle, .short-story{
    font-size: 0.8em !important;
    color: #CCC;
}
#movie-poster{
    display: block;
    height: 100%;
    content: " ";
}
.mat-card-image {
    width: calc(100% + 20px) !important;
    margin: 0 -10px 10px -10px !important;
    max-height: 360px;
    min-height: auto;
    display: block;
}
.mat-card-footer{
    margin: 0 !important;
    border-top: 1px solid rgba(48, 48, 48, 0.50);
}
.mat-card-actions {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: -10px !important;
    padding: 0 !important;
}
mat-card .mat-card-actions .mat-button, mat-card .mat-card-actions .mat-raised-button{
    min-width: auto !important;
}
.share-btn a, .share-btn a:hover .share-btn a:active{
    text-decoration: none;
    color: #FFF !important;
}
/*Tabs*/
.mat-tab-label{
    padding: 0 !important;
}
.mat-tab-label:focus, .mat-tab-label:active, .mat-tab-label-active{
    background-color: rgb(26, 26, 26) !important;
    box-shadow: 0px 0px 7px #000 inset;
}
.tab-heading{
    display: flex;
    width: 100%;
    padding: 0 3rem;
    margin: 0;
    line-height: 3rem;
}
.mat-table {
    background: #1a1a1a !important;
}
/*Tab END*/
div.rating span{
    display: inline-block;
}
#movie-rating mat-icon.active{
    color: #E4BB24;
}
mat-icon.rating{
    color: #E4BB24;
}
.total-rating, #total-votes{
    font-size:60%;
    color:#CCC;
}
#user-rating mat-icon:hover, #average-rating mat-icon:hover,
#user-rating mat-icon.mat-icon.material-icons:hover {
    color: #E4BB24;
}
.favorite mat-icon.active{
    color: #c62828;
}
mat-card span.rating-number{
    font-size: 0.8em;
    vertical-align: text-top !important;
    position: absolute;
    left: 21px;
    top: 6px;
    height: 25px;
}
/*Material Cards END*/
/*Jumbotron*/
#jumbotron{
    background-image: url("/assets/img/currentmoviereleases_new_releases_2018.jpg");
    padding: 1rem 2rem;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.46) 0px -10px 10px -5px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.46) 0px -10px 10px -5px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.46) 0px -10px 10px -5px inset;
    position: relative;
    background-size: cover;
    min-height: 186px;
}
app-home #jumbotron{
    padding: 16% 15%;
    text-align: center;
}
app-movies #jumbotron, app-celebs #jumbotron{
    margin: -1rem -1rem 0rem -1rem;
}
app-genres #jumbotron, app-search #jumbotron, app-main-movies-directory #jumbotron, app-privacy #jumbotron, app-terms #jumbotron{
    margin: -1rem -1rem 2rem -1rem;
    background-position: bottom;
}
app-privacy #jumbotron, app-terms #jumbotron{
    background-image: url("/assets/img/film-producer-info.jpg");
    min-height: auto;
    background-size: contain;
    padding: 1% 15%;
}
.staticpage h3{
    color: #666;
}
.page-taxonomy-list {
    width: 50%;
    margin: auto;
}
/*Search Form*/
app-search-form  input#searchinput {
    width: 80%;
}
#searchcontainer label {
    font-size: 80%;
    margin-left: 20px;
}
/*Search Button*/
mat-toolbar .mat-button.search-btn, mat-toolbar .mat-button.login-btn, .search-toggle mat-icon{
    color: #818181;
}
/*Search Button END*/
/*Jumbotron END*/
#load-more, .view-all{
    text-align: center;
    margin: 2rem 0;
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgba(48,48,48,.5);
    border-bottom: 1px solid rgba(48,48,48,.5);
    padding: 10px 0px;
}
.view-all{
    margin: 1rem 0;
}
/*Login Overlay*/
.cdk-global-overlay-wrapper{
    justify-content: center;
    align-items: center;
    position: relative !important;
    width: 80% !important;
    height: 80% !important;
    margin: 4% auto;
}
/*Login Overlay END*/
/*Mat Dark Theme*/
mat-dark-theme #jumbotron{
    background-color: #2A2A2A;
}
mat-dark-theme a{
    color: #FFF;
}
mat-dark-theme a:hover, mat-dark-theme a:focus, mat-dark-theme a:active{
    color: #c62828;
}
mat-dark-theme .mat-drawer{
    background: #000;
}
/*Material Extras*/
mat-toolbar{
    z-index: 9;
    color: white;
}
mat-toolbar .mat-button{
    min-width: auto;
}
.mat-toolbar-row, .mat-toolbar-single-row
.docs-cmr-logo{
    width: 70px;
    padding: 6px 5px;
}
.mat-button-wrapper{
    display: block;
    position: relative;
}
mat-toolbar .mat-button.docs-button{
    margin: 0 10px;
    padding: 0 8px 0 4px;
}
.version{
    font-size: 0.5em;
    color: #2A2A2A;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

/*Account*/
app-account-details, app-account-favorites, app-account-ratings{
    padding: 0 1rem;
    display: block;
}
/*Account END*/
/*Nice Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #000;
    box-shadow: inset 0 0 6px #000;
}

::-webkit-scrollbar-thumb {
    background: #000;
}
/*Footer*/
app-footer {
    background-color: #2A2A2A;
    box-shadow: rgb(17, 17, 17) 0px 5px 10px inset;
    -moz-box-shadow: rgb(17, 17, 17) 0px 5px 10px inset;
    -webkit-box-shadow: rgb(17, 17, 17) 0px 5px 10px inset;
    color: #939393;
    border: 0;
    font-size: 0.8em;
    display: block;
  }
  app-footer footer#colophon {
    margin: 0 auto;
    display: block;
    padding: 0 10%;
  }
.widget-title {
    color: #DDD;
    font-size: 100%;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    font-weight: normal;
  }
  footer#colophon .footer-inner {
    display: block;
    min-height: 250px;
    padding: 30px 0px;
    border-bottom: 1px solid #111;
  }
  #sitemap {
    margin: auto;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-size: 11px;
    display: inline-block;
    width: 100%;
  }
  .footer-links ul, ul#actors-list, ul#genre-list{
    margin: 0;
    padding: 0;
  }
  .footer-links ul li {
    display: inline-block;
    list-style: none;
  }
  #sitemap ul li a{
    display: block;
    position: relative;
    padding: 10px 20px;
    line-height: 2.5em;
    text-decoration: none;
    color: #CCC;
  }
  #sitemap ul li a:hover, ul#actors-list li a:hover, ul#genre-list li a:hover {
    background: rgba(68, 68, 68, 0.40);
    color: #FFF;
  }
  ul#actors-list li, ul#genre-list li{
      list-style: none;
      display: inline-block;
  }
  ul#actors-list li{
      width: 100%;
  }
  ul#actors-list li a{
    display: block;
    position: relative;
    padding: 2.5px 10px;
    line-height: 2.5em;
    text-decoration: none;
    color: #CCC;
    border-bottom: 1px solid rgba(68, 68, 68, 0.40);
  }
  ul#genre-list li{
      margin: 0px 0px 5px 5px;
  }
    ul#genre-list li a{
        display: block;
        position: relative;
        padding: 2.5px 10px;
        line-height: 2.5em;
        text-decoration: none;
        color: #CCC;
        border: 1px solid rgba(68, 68, 68, 0.40);
    }
  #footer-links, .site-description{
    display: inline-block;
    line-height: 2em;
  }
  .site-description{
      margin-right: 10px;
  }
  #footer-links ul li a{
    padding-right: 5px;
    color: #CCC;
    text-decoration: none;
    line-height: 2em;
  }
  #footer-links ul li a:hover{
      color: #FFF;
      text-decoration: underline;
  }
  #credits,
  #disclaimer {
    padding: 15px 0px;
    color: #666;
    font-size: 0.8em;
  }
  #disclaimer {
    border-bottom: 1px solid #333;
  }
.poweredbytmdb img{
    max-width: 60px;
    vertical-align: middle;
}
  /*Scroll to top Button*/
  .scrolltotop {
    background: rgba(0, 0, 0, 0.35) !important;
    z-index: 999;
    position: fixed !important;
    bottom: 20px;
    right: 30px;
    min-width: 40px !important;
    padding: 0 !important;
  }
  .scrolltotop1{
    bottom: 60px;
  }
  .scrolltotop2{
    bottom: 100px;
  }
  .scrolltotop3{
    bottom: 140px;
}
.scrolltotop .cdk-focused .cdk-mouse-focused{
    color: red;
}
/*Footer END*/
/*Material Extras END*/
/*Medie Querys*/
@media (max-width: 599px) {
    mat-card{
        max-width: 40% !important;
    }
    #movie-content-info{
        margin-right: -5px;
    }
    #sitemap ul li {
        display: inline-block;
        list-style: none;
        width: 100%;
    }
    app-search-form.main-search {
        top: 55px;
    }
    app-home #jumbotron{
        padding: 20% 5%;
    }
    .section-details .view-all {
        text-align: center;
        margin-top: 15px;
    }
    #header #main-search {
        top: 56px;
    }
    .page-taxonomy-list {
        width: 100%;
    }
    .wrapper .displayfix{
        display: block !important;
    }
    #advert-widget-300 .adsbygoogle {
        width: 468px;
        height: 60px;
    }
    #advert-widget-full .adsbygoogle {
        width: 336px;
        height: 280px;
    }
}
@media (min-width: 544px) {
    .movie-list {
        display: flex;
        width: 100%;
    }
    .movie-list .mat-card {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: space-between;
    }
    .mat-card-content {
      flex: 1 1 auto;
    }
  }
@media (min-width:800px) {
    #advert-widget-full .adsbygoogle {
        width: 970px;
        height: 90px;
    }
}