/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  background: #1f1f1f;
  color: #EEE;
}
/*NG Content*/
.now-playing-movies-tab-content{
  width: 80%;
  margin: auto;

}
/* Dialogs */
.full-screen-dialog,
.full-screen-dialog .mat-dialog-container {
  background: #000;
  padding: 0;
}

.login-dialog,
.login-dialog .mat-dialog-container {
  background: rgba(0, 0, 0, 0.5);
}


