html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, Lucida Grande, sans-serif;
    height: 100%;
    width: 100%;
    background: #1f1f1f;
}
mat-sidenav-content{
    scroll-behavior: auto;
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
*:hover{
    transition: all 0.3s ease-in-out;
}
a{
    color: #FFF;
    cursor: pointer;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
/*Default styling elements */
.border-top-grey{
    border-top: 1px solid rgba(48, 48, 48, 0.50);
}
.page-title.entry-title {
    font-size: 150%;
    text-shadow: 1px 1px 1px #000;
}
app-home .page-title.entry-title{
    font-size: 200%;
}
.page-description {
    font-size: 100%;
    text-shadow: 1px 1px 1px #000;
}
/*Default styling elements END*/
.section-details .view-all{
    text-align: right;
}
.result-counter, .section-details{
    color: #999;
    font-size: 0.8em;
}
div#results-counter {
    font-size: 80%;
    color: #CCC;
    margin-top: 10px;
}
.mat-list-item.active{
    background: rgba(255, 255, 255, 0.04);
}
mat-list-item span{
    margin: 0 10px;
    display: inline-block;
    font-size: 80%;
    width: 110px;
}
/*App Wrapper*/
app-main-movies-directory, app-movies, app-genres, app-search{
    display: block;
    padding: 1rem;
}
.mat-sidenav-content a:hover, .mat-sidenav-content a:focus, .mat-sidenav-content a:active{
    color: #c62828;
}
.mat-sidenav{
    background-color: #121212 !important;
    margin-top: 56px;
}
.mat-sidenav a:hover, .mat-sidenav a:focus, .mat-sidenav a:active{
    color: #FFF;
}
.sidenav-footer{
    padding: 0 !important;
}
.mat-drawer-container{
    overflow-y: auto !important;
}
.wrapper{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    z-index: 9;
}
.wrapper.margin{
    margin-top: 5%;
}
.border{
    border-bottom: 1px solid rgba(48, 48, 48, 0.50);
}
/*Section*/
.section.margin.padding{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.section.padding{
    padding-bottom: 2rem;
}
app-movies .section{
    padding-bottom: 0;
    margin-bottom: 0;
}
/*Section END*/
.section-header {
    margin-bottom: 5px;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.15);
}
/* .section-header{
    padding: 0rem 0.2rem 1rem;
} */
app-home .section-header{
    padding-top: 0;
}
.section-header.wrapper p{
    margin-top: 0;
}
/*App Wrapper END*/
/*Not found*/
app-page-not-found {
    text-align: center;
    display: block;
}
/*Material Cards*/
mat-card{
    margin-bottom: 8px;
    padding: 10px !important;
    background: rgba(0, 0, 0, 0.15) !important;
    border: 1px solid rgba(0, 0, 0, 0.15);
    filter: grayscale(20%);
    box-sizing: content-box;
}
mat-card:hover{
    -webkit-box-shadow: 0px 12px 19px -7px #000;
    box-shadow: 0px 12px 19px -7px #000;
    background: rgba(0, 0, 0, 0.66) !important;
    filter: grayscale(0%);
}
app-home mat-card, app-movies mat-card, app-main-movies-directory mat-card, #similar-movies mat-card, app-genres mat-card, app-search mat-card{
    max-width: 215px;
}
.mat-card-header-text{
    margin: 0 !important;
    width: 100%;
}
mat-card-title{
    white-space: pre-line;
    word-wrap: break-word;
    display: inline-flex !important;
    max-height: 1.2em;
    overflow: hidden;
}
mat-card-title h2{
    font-weight: normal;
    margin: 0;
    font-size: 1em;
}
mat-card-title h2 a{
    text-decoration: none;
}
.mat-card-subtitle{
    color: #999;
    border-top: 1px solid rgba(48, 48, 48, 0.50);
    padding-top: 5px;
    margin-bottom: 6px !important;
}
.short-story{
    margin-bottom: 0;
}
.mat-card-content p, .mat-card-subtitle, .short-story{
    font-size: 0.8em !important;
}
#movie-poster{
    display: block;
    height: 100%;
    content: " ";
}
.mat-card-image {
    width: calc(100% + 20px) !important;
    margin: 0 -10px 10px -10px !important;
    max-height: 360px;
    min-height: 360px;
}
.mat-card-footer{
    margin: 0 !important;
}
.mat-card-actions {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: -10px !important;
    padding: 0 !important;
    border-top: 1px solid rgba(48, 48, 48, 0.50);
}
mat-card .mat-card-actions .mat-button, mat-card .mat-card-actions .mat-raised-button{
    min-width: auto !important;
}
/*Tabs*/
.mat-tab-group{
    margin: 0rem -1rem;
}
.mat-tab-label{
    padding: 0 !important;
}
.tab-heading{
    display: inline-block;
    width: 100%;
    padding: 3rem 0;
    margin: 0;
    line-height: 3rem;
}
#movie-rating mat-icon.active{
    color: #E4BB24;
}
mat-icon.rating{
    color: #E4BB24;
}
.total-rating, #total-votes{
    font-size:60%;
    color:#CCC;
}
.favorite mat-icon.active{
    color: #c62828;
}
/*Material Cards END*/
/*Jumbotron*/
#jumbotron{
    background-image: url("/assets/img/currentmoviereleases_new_releases_2018.jpg");
    padding: 1rem 2rem;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.46) 0px -10px 10px -5px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.46) 0px -10px 10px -5px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.46) 0px -10px 10px -5px inset;
    position: relative;
    background-size: cover;
    min-height: 186px;
}
app-home #jumbotron{
    padding: 20% 15%;
    margin: 0rem 0rem 1rem 0rem;
    text-align: center;
}
app-movies #jumbotron{
    margin: -1rem -1rem 0rem -1rem;
}
app-genres #jumbotron, app-search #jumbotron, app-main-movies-directory #jumbotron{
    margin: -1rem -1rem 2rem -1rem;
    background-position: bottom;
}
/*Jumbotron END*/
#load-more{
    text-align: center;
    margin: 3rem 0;
    display: inline-block;
    width: 100%;
}
/*Login Overlay*/
.cdk-global-overlay-wrapper{
    justify-content: center;
    align-items: center;
    position: relative !important;
    width: 80% !important;
    height: 80% !important;
    margin: 4% auto;
}
/*Login Overlay END*/
/*Mat Dark Theme*/
mat-dark-theme #jumbotron{
    background-color: #2A2A2A;
}
mat-dark-theme a{
    color: #FFF;
}
mat-dark-theme a:hover, mat-dark-theme a:focus, mat-dark-theme a:active{
    color: #c62828;
}
mat-dark-theme .mat-drawer{
    background: #000;
}
/*Material Extras*/
mat-toolbar{
    z-index: 9;
    color: white;
}
mat-toolbar .mat-button{
    min-width: auto;
}
.docs-cmr-logo{
    width: 70px;
    padding: 6px 5px;
}
.mat-button-wrapper{
    display: block;
}
mat-toolbar .mat-button.docs-button{
    margin: 0 10px;
    padding: 0 8px 0 4px;
}
.version{
    font-size: 0.5em;
    color: #2A2A2A;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}
/*Nice Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #000;
    box-shadow: inset 0 0 6px #000;
}

::-webkit-scrollbar-thumb {
    background: #000;
}
/*Footer*/
app-footer {
    background-color: #2A2A2A;
    box-shadow: rgb(17, 17, 17) 0px 5px 10px inset;
    -moz-box-shadow: rgb(17, 17, 17) 0px 5px 10px inset;
    -webkit-box-shadow: rgb(17, 17, 17) 0px 5px 10px inset;
    color: #939393;
    border: 0;
    font-size: 0.8em;
    display: block;
  }
  app-footer footer#colophon {
    margin: 0 auto;
    display: block;
    padding: 0 10%;
  }
  footer#colophon .widget-title {
    color: #DDD;
    font-size: 100%;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    font-weight: normal;
  }
  footer#colophon .footer-inner {
    display: block;
    min-height: 250px;
    padding: 30px 0px;
    border-bottom: 1px solid #111;
  }
  footer#colophon .footer-inner .footer-widget {
    margin: 0 3%;
  }
  #sitemap {
    margin: auto;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-size: 11px;
    display: inline-block;
    width: 100%;
  }
  #sitemap ul {
    margin: 0;
    padding: 0;
  }
  #sitemap ul li {
    display: inline-block;
    list-style: none;
  }
  #sitemap ul li a {
    display: block;
    position: relative;
    display: block;
    padding: 10px 20px;
    line-height: 2.5em;
    text-decoration: none;
    color: #CCC;
  }
  #sitemap ul li a:hover {
    background: rgba(68, 68, 68, 0.40);
    color: #FFF;
  }
  #credits,
  #disclaimer {
    padding: 15px 0px;
    color: #666;
    font-size: 0.8em;
  }
  #disclaimer {
    border-bottom: 1px solid #333;
  }
  .scrolltotop {
    background: rgba(0, 0, 0, 0.35) !important;
    z-index: 999;
    position: fixed !important;
    bottom: 20px;
    right: 30px;
    min-width: 40px !important;
    padding: 0 !important;
  }
  .scrolltotop .mat-icon {
    padding: 15% 5%;
  }
/*Footer END*/
/*Material Extras END*/
@media (max-width: 599px) {
    mat-card{
        max-width: 40% !important;
    }
    .mat-card-image{
        max-height: inherit;
        min-height: auto !important;
    }
    #movie-content-info{
        margin-right: -5px;
    }
    .mat-card-content p, .mat-card-subtitle, .short-story{
        font-size: 0.6em !important;
    }
}
@media (min-width: 544px) {
    .movie-list {
        display: flex;
        width: 100%;
    }
    .movie-list .mat-card {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: space-between;
    }
    .mat-card-content {
      flex: 1 1 auto;
    }
  }