html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, Lucida Grande, sans-serif;
  height: 100%;
  width: 100%;
}
a{
    color: #c62828;
}
a:hover, a:focus, a:active{
    color: #CCC;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
.result-counter{
    color: #CCC;
}
/*App Wrapper*/
app-main-movies-directory, app-movies{
    display: block;
    padding: 1rem;
}
/*App Wrapper END*/
/*Section*/
.section{
    padding: 2%;
}
/*Section END*/
/*Material Cards*/
mat-card{
    max-width: 220px;
    margin: 8px;
}
mat-card-title{
    white-space: pre-line;
    word-wrap: break-word;
    display: inline-flex !important;
    max-height: 1.2em;
    overflow: hidden;
}
mat-card-title h2{
    font-weight: normal;
    margin: 0;
    font-size: 1em;
}
.mat-card-image{
    max-height: 400px;
    height: 100%;
}
.mat-card-content p, .mat-card-subtitle{
    font-size: 0.8em;
}
.mat-card-subtitle{
    font-size: 0.8em;
}
.mat-tab-group{
    margin: 0rem -1rem;
}
h3.tab-heading{
    display: block;
    width: 100%;
}
.mat-card .rating{
    color: #f1c40f;
}
/*Material Cards END*/
/*Jumbotron*/
#jumbotron{
    padding: 1rem 2rem 3rem 2rem;
    margin: -1rem -1rem 0rem -1rem;
    box-shadow: rgba(0, 0, 0, 0.46) 0px -10px 10px -5px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.46) 0px -10px 10px -5px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.46) 0px -10px 10px -5px inset;
    position: relative;
}
/*Jumbotron END*/
#load-more{
    text-align: center;
    margin: 3rem 0;
}

/*Mat Dark Theme*/
mat-dark-theme #jumbotron{
    background-color: #2A2A2A;
}
app-home #jumbotron{
    margin: 0rem;
    background-image: url("/assets/img/background.png");
    background-size: 100%;
    padding: 20% 15%;
    margin: 0rem 0rem 1rem 0rem;
    text-align: center;
}
app-movies #jumbotron{
    background-image: url("https://www.themoviedb.org/static_cache/v4/footers_v2/Furious7-d0f17d0793c58d83056a64d22157c9aff5ffb4c179b60048264e5158916fec22.jpg");
    background-size: cover;
}
mat-dark-theme a{
    color: #FFF;
}
mat-dark-theme a:hover, mat-dark-theme a:focus, mat-dark-theme a:active{
    color: #c62828;
}
/*Material Extras*/
mat-toolbar{
    z-index: 9;
}
mat-toolbar .mat-button{
    min-width: auto;
}
.docs-cmr-logo{
    width: 70px;
    padding: 6px 5px;
}
.mat-button-wrapper{
    display: block;
}
mat-toolbar .mat-button.docs-button{
    margin-left: 15px;
    padding: 0 16px 0 8px;
}
/*Material Extras END*/
@media (max-width: 616px) {
    mat-card{
        max-width: inherit;
    }
    .mat-card-image{
        max-height: inherit;
        height: auto;
    }
    
}