html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, Lucida Grande, sans-serif;
  height: 100%;
  width: 100%;
}
*{
    box-sizing: border-box;
}
a{
    color: #FFF;
    cursor: pointer;
    text-decoration: underline;
}
.mat-list-item.active{
    background: rgba(255, 255, 255, 0.04);
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
.result-counter{
    color: #CCC;
}
/*App Wrapper*/
app-main-movies-directory, app-movies, app-movie-details{
    display: block;
    padding: 1rem;
}
app-genres{
    max-width: 1100px;
    margin: auto;
    display: block;
}
.mat-sidenav-content a:hover, .mat-sidenav-content a:focus, .mat-sidenav-content a:active{
    color: #c62828;
}
.mat-sidenav{
    background-color: #121212 !important;
    margin-top: 56px;
}
.mat-sidenav a:hover, .mat-sidenav a:focus, .mat-sidenav a:active{
    color: #FFF;
}
.sidenav-footer{
    border-top: 1px solid #30303080;
    padding: 15px 0;
}
.mat-drawer-container{
    overflow-y: auto !important;
}
.wrapper{
    max-width: 1220px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    z-index: 9;
}
.section-header{
    padding: 1rem;
}
.section-header:first-of-type{
    padding-top: 0;
}
/*App Wrapper END*/
/*Section*/
.section{
    padding: 2%;
}
.section:first-of-type{
    padding-top: 0;
}
/*Section END*/
/*Material Cards*/
mat-card{
    margin-bottom: 8px;
}
mat-card:hover{
    box-shadow: 0px 12px 19px -7px #000;
    background-color: #2A2A2A;
}
app-home mat-card, app-movies mat-card, app-main-movies-directory mat-card, #similar-movies mat-card{
    max-width: 220px;
    cursor: pointer;
}
mat-card-title{
    white-space: pre-line;
    word-wrap: break-word;
    display: inline-flex !important;
    max-height: 1.2em;
    overflow: hidden;
}
mat-card-title h2{
    font-weight: normal;
    margin: 0;
    font-size: 1em;
}
#movie-poster{
    display: block;
    height: 100%;
    width: 100%;
    content: " ";
}
.mat-card-content p, .mat-card-subtitle{
    font-size: 0.8em !important;
}
.mat-tab-group{
    margin: 0rem -1rem;
}
.mat-tab-label{
    padding: 0 !important;
}
.tab-heading{
    display: inline-block;
    width: 100%;
    padding: 3rem 0;
    margin: 0;
    line-height: 3rem;
}
#movie-rating mat-icon.active{
    color: #E4BB24;
}
mat-icon.rating{
    color: #E4BB24;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.6);
    font-size: 1.8rem;
}
.total-rating, #total-votes{
    font-size:60%;
    color:#CCC;
}
.rating-number{
    vertical-align: text-top !important;
}
.favorite mat-icon.active{
    color: #c62828;
}
/*Material Cards END*/
/*Jumbotron*/
#jumbotron{
    padding: 1rem 2rem 3rem 2rem;
    margin: -1rem -1rem 0rem -1rem;
    box-shadow: rgba(0, 0, 0, 0.46) 0px -10px 10px -5px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.46) 0px -10px 10px -5px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.46) 0px -10px 10px -5px inset;
    position: relative;
    background-size: cover;
    min-height: 300px;
}
/*Jumbotron END*/
#load-more{
    text-align: center;
    margin: 3rem 0;
    display: inline-block;
    width: 100%;
}
/*Login Overlay*/
.cdk-global-overlay-wrapper{
    justify-content: center;
    align-items: center;
    position: relative !important;
    width: 65% !important;
    height: 75% !important;
    margin: 4% auto;
}
/*Login Overlay END*/
/*Mat Dark Theme*/
mat-dark-theme #jumbotron{
    background-color: #2A2A2A;
}
app-home #jumbotron{
    margin: 0rem;
    background-image: url("/assets/img/background.png");
    background-size: 100%;
    padding: 20% 15%;
    margin: 0rem 0rem 1rem 0rem;
    text-align: center;
}
app-movies #jumbotron{
    background-image: url("https://www.themoviedb.org/static_cache/v4/footers_v2/Furious7-d0f17d0793c58d83056a64d22157c9aff5ffb4c179b60048264e5158916fec22.jpg");
    background-size: cover;
}
mat-dark-theme a{
    color: #FFF;
}
mat-dark-theme a:hover, mat-dark-theme a:focus, mat-dark-theme a:active{
    color: #c62828;
}
mat-dark-theme .mat-drawer{
    background: #000;
}
/*Material Extras*/
mat-toolbar{
    z-index: 9;
    color: white;
}
mat-toolbar .mat-button{
    min-width: auto;
}
.docs-cmr-logo{
    width: 70px;
    padding: 6px 5px;
}
.mat-button-wrapper{
    display: block;
}
mat-toolbar .mat-button.docs-button{
    margin: 0 10px;
    padding: 0 8px 0 4px;
}
.version{
    font-size: 0.5em;
    color: #2A2A2A;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
/*Nice Scrollbar*/
::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #000;
    box-shadow: inset 0 0 6px #000;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #000;
    box-shadow: inset 0 0 6px #000;
  }
/*Material Extras END*/
@media (max-width: 616px) {
    mat-card{
        max-width: inherit;
    }
    .mat-card-image{
        max-height: inherit;
        height: auto;
    }
    
}