<div id="jumbotron" class="mat-elevation-z6" role="banner" itemprop="actor" itemscope itemtype="http://schema.org/Person">
  <div class="container">
    <h1 class="page-title entry-title">
      <span itemprop="name">{{ actorDetails.name }}</span> Filmography, Biography and Latest Movies</h1>
    <h2 class="page-description"></h2>
    <!-- <div class="advanced_filters"></div> -->
    <!-- <div class="page-taxonomy-list"></div> -->
    <div id="page-header" fxLayout="row">
      <div id="header-left" fxFlex>
        <div id="breadcrumbs" xmlns:v="http://rdf.data-vocabulary.org/#">Jump To:
          <a [routerLink]="" fragment="biography" class="mat-raised-button" tabindex="0" href="#biography">Biography</a>
          <a [routerLink]="" fragment="movies" class="mat-raised-button" tabindex="0" href="#movies">Filmography</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Actor Details & Posters -->
<div *ngIf="actorDetails">
  <!-- Actor Details -->
  <section id="biography" class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch" id="actor-details">
    <!-- Actor Profile Image -->
    <div id="main-left" fxFlex="80%">
      <!-- Actor Detail-->
      <h2>Biography</h2>
      <div class="biography-content">
        <!-- Biography -->
        <p title="{{ actorDetails.name }} + ' Biography'">{{ actorDetails.biography }}</p>
        <!-- Actor Details -->
        <p *ngIf="actorDetails.also_known_as">Also known as:
          <span *ngFor="let altName of actorDetails?.also_known_as; let i = index">{{ altName }}
            <span *ngIf="i < (actorDetails?.also_known_as).length - 1">,</span>
          </span>
        </p>
        <p *ngIf="actorDetails.popularity">Popularity: {{ actorDetails.popularity | number }}</p>
        <p *ngIf="actorDetails.birthday">Birthday: {{ actorDetails.birthday | date }}</p>
        <p *ngIf="actorDetails.place_of_birth">Place of birth: {{ actorDetails.place_of_birth }}</p>
        <p *ngIf="actorDetails.deathday">Deathday: {{ actorDetails.deathday | date }}</p>
        <p *ngIf="actorDetails.gender">Gender:
          <span *ngIf="actorDetails.gender === 1">female</span>
          <span *ngIf="actorDetails.gender === 2">male</span>
          <span *ngIf="actorDetails.gender === 3">other</span>
        </p>
        <!-- More Info -->
        <div class="more-info" *ngIf="isMoreInfoOpen">
          <!-- More Info Content-->
          <p *ngIf="actorDetails.homepage  && !isLoadingInfo">Homepage:
            <a [href]="actorDetails.homepage" target="_blank">{{ actorDetails.homepage }}</a>
          </p>
          <div class="actor-links" *ngIf="actorLinks && !isLoadingInfo">
            <span *ngIf="actorLinks.facebook_id">{{ actorLinks.facebook_id }} | </span>
            <span *ngIf="actorLinks.freebase_id">{{ actorLinks.freebase_id }} | </span>
            <span *ngIf="actorLinks.freebase_mid">{{ actorLinks.freebase_mid }} | </span>
            <span *ngIf="actorLinks.imdb_id">{{ actorLinks.imdb_id }} | </span>
            <span *ngIf="actorLinks.instagram_id">{{ actorLinks.instagram_id }} | </span>
            <span *ngIf="actorLinks.tvrage_id">{{ actorLinks.tvrage_id }} | </span>
            <span *ngIf="actorLinks.twitter_id">{{ actorLinks.twitter_id }}</span>
          </div>
        </div>

        <!-- More Info Button -->
        <button mat-button (click)="toggleMoreInfo()" class="more-info-btn">
          <span *ngIf="!isMoreInfoOpen">Show More Info
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
          <span *ngIf="isMoreInfoOpen">Hide More Info
            <mat-icon>keyboard_arrow_up</mat-icon>
          </span>
        </button>
      </div>
    </div>
    <div id="main-right" fxFlex="20%">
      <div id="profile-pic-container">
        <!-- Profile Pics List -->
        <span class="profile-pics" *ngIf="actorImages?.length > 0; else defaultProfilePic">
          <img itemprop="image" *ngFor="let img of actorImages; let i = index" [src]="[TMDB_IMAGES_BASE_URL + IMG_500 + img.file_path]"
            [alt]="actorDetails?.name + ' Filmography | Current Movie Releases'" [title]="actorDetails?.name + ' Filmography | Current Movie Releases'"
            [ngClass]="i === 0 ? 'active profile-pic' : 'profile-pic'">
          <!-- Slider Controls -->
          <div id="slider-controls" fxLayout="row" *ngIf="actorImages?.length > 1">
            <div class="prev" (click)="prevProfilePic()" fxFlex="50">
              <mat-icon>navigate_before</mat-icon>
            </div>

            <div class="next" (click)="nextProfilePic()" fxFlex="50">
              <mat-icon>navigate_next</mat-icon>
            </div>
          </div>
        </span>
        <!-- Default Profile Pic -->
        <ng-template #defaultProfilePic>
          <img src="assets/img/default-movie-poster.png" [alt]="actorDetails.title" [title]="actorDetails.title" class="actor-profile-pic">
        </ng-template>

      </div>
    </div>
  </section>
  <section *ngIf="movieCasts" id="movies" class="section wrapper padding played-movies-container" label="Latest Movies">
    <div class="section-header">
      <div class="section-description">
        <h2 class="section-title">Filmography - Latest Movies</h2>
        <p>{{ actorDetails.name }} has
          <span *ngIf="movieCasts?.length > 0" class="counter">{{movieCreditsLength }}</span> movies</p>
      </div>
    </div>
    <div class="movies-list" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch" class="credits-tab-content">
      <mat-card *ngFor="let credit of movieCasts" class="credit-card mat-elevation-z" tabindex="0">
        <a (click)="this.as.goToMovieDetails(credit?.id)">
          <div>
            <img *ngIf="credit.poster_path; else defaultCreditImage" [src]="[TMDB_IMAGES_BASE_URL + IMG_185 + credit.poster_path]" [alt]="credit.release_date | date: 'y' + credit.title + ' movie'" [title]="credit.release_date | date: 'y' + credit.title + ' movie'">
            <ng-template #defaultCreditImage>
              <img src="assets/img/default-movie-poster.png" [alt]="credit.title" [title]="credit.title" class="credit-img">
            </ng-template>
          </div>
          <div class="credit-info">
            <div class="credit-title">
              <h3>{{ credit.title }}
                <span class="year">({{ credit.release_date | date: 'y' }})</span>
              </h3>
            </div>
            <div class="credit-info-sub" fxLayout="row" fxLayoutAlign="center center">
              <span class="credit-rating">
                <mat-icon>star</mat-icon>{{ credit.vote_average / 2 }}
              </span>
            </div>
          </div>
        </a>
      </mat-card>
      <!-- <mat-card *ngFor="let credit of movieCasts" class="movie-card mat-elevation-z" tabindex="0">
        <app-movie-card [movie]="movie"></app-movie-card>
      </mat-card> -->
      <div id="advert-widget-full" class="advert-widget">
        <app-adsense-widgets [slotId]="7054872218"></app-adsense-widgets>
      </div>
    </div>
  </section>

  <!-- Tagged Photos -->
  <!-- <section>
  <h3>Tagged Photos</h3>
  <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch" id="tagged-photos">
    <mat-card *ngFor="let img of actorTaggedImages" class="photo-card">
      <img [src]="[TMDB_IMAGES_BASE_URL + IMG_185 + img.file_path]" [alt]="img.media.title" [title]="img.media.title" (click)="openImageGallery(img.file_path)">
      <div>{{ img.media.title }}</div>
    </mat-card>
  </div>
</section> -->

  <!-- <section>
  <h3>Tagged Photos</h3>
  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="20px">

    <mat-card *ngFor="let img of actorTaggedImages" class="photo-card">
      <img [src]="[TMDB_IMAGES_BASE_URL + IMG_185 + img.file_path]" [alt]="img.media.title" [title]="img.media.title" (click)="openImageGallery(img.file_path)">
      <div>{{ img.media.title }}</div>
    </mat-card>

  </div>
</section> -->
</div>