#actor-details {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  padding: 2rem 5%;
}

#main-right {
  padding-left: 2rem;
}

#title h1 {
  margin: 0;
  font-size: 2.2rem;
}

.loader {
  margin: 1rem 0;
}

.more-info-btn {
  margin: 1rem 0;
  border-radius: 2px;
  background: #0b0b0b;
}

.more-info-btn mat-icon {
  position: relative;
  top: 7px;
}

/* Profile Pic */

#profile-pic-container {
  position: relative;
  height: 100%;
  margin-bottom: 2rem;
}

.profile-pics {
  position: relative;
  display: block;
}

.profile-pic {
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
  z-index: 1;
}

.profile-pic.active {
  display: block;
  position: relative;
}

#slider-controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#slider-controls>div {
  cursor: pointer;
  z-index: 1;
}

.prev {
  text-align: left;
}

.next {
  text-align: right;
}

.prev,
.next {
  align-self: center;
}

.prev mat-icon,
.next mat-icon {
  background: rgba(255, 255, 255, .2);
}

.prev:hover mat-icon,
.next:hover mat-icon {
  background: rgba(255, 255, 255, .8);
}

/* Tabs */

h2.tab-title {
  font-size: 1rem;
}

.counter {
  margin-left: 0.3rem;
}

#actor-tab-group {
  margin: 1.5rem 0;
}

/* Cards */

.credit-card {
  position: relative;
  max-height: 278px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  cursor: pointer;
  background: #000;
}

.credit-card img {
  width: 100%;
}

.credit-info {
  position: absolute;
  opacity: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0.4rem 10px;
  text-align: center;
  background: #101010;
  color: #fff;
}

.credit-info h3 {
  font-size: 1rem;
  padding: 0 0 0.3rem 0;
  border-bottom: 1px solid #eee;
  margin: 0;
}

h3 span.year {
  font-size: 1rem;
  font-weight: normal;
}

.credit-info-sub {
  margin-top: 0.3rem;
}

.genre,
.credit-rating {
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.credit-rating mat-icon {
  font-size: 1rem;
  width: auto;
  height: auto;
  top: 2px;
  position: relative;
  margin-right: 0.3rem;
  color: gold;
  text-shadow: 1px 1px 0px #777;
}

.credit-card:hover .credit-info {
  opacity: 1;
}

/* Tagged Photos */

.photo-card {
  padding: 0;
}

@media screen and (max-width: 600px) {
  #main-right {
    padding-left: 0;
  }
  .credit-card {
    margin: 0.05rem 0;
  }
}
